{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@gr4vy.com",
      "name": "Gr4vy Support",
      "url": "https://gr4vy.com"
    },
    "description": "The Gr4vy API",
    "license": {
      "name": "MIT"
    },
    "termsOfService": "https://gr4vy.com",
    "title": "Gr4vy API",
    "version": "1.0"
  },
  "host": "api.gr4vy.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/async/cards": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "description": "A request to store a card.",
              "properties": {
                "expiration_date": {
                  "description": "The expiration date of the card, formatted `MM/YY`. If a card has been\npreviously stored with us this value is optional.\n\nIf the `number` of this card represents a tokenized card, then this value\nis ignored.",
                  "example": "11/15",
                  "maxLength": 5,
                  "minLength": 5,
                  "pattern": "^\\d\\d/\\d\\d$",
                  "type": "string"
                },
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the card against their own records.",
                  "type": "string",
                  "x-nullable": true
                },
                "number": {
                  "description": "The 15-16 digit number for this credit card as it can be found on the\nfront of the card.\n\nIf a card has been stored with us previously, this number will represent\nthe unique tokenized card ID provided via our API.",
                  "example": "4111111111111111",
                  "maxLength": 16,
                  "minLength": 14,
                  "pattern": "^[0-9]{14,16}$",
                  "type": "string"
                },
                "security_code": {
                  "description": "The 3 or 4 digit security code often found on the card. This often\nreferred to as the CVV or CVD.\n\nIf the `number` of this card represents a tokenized card, then this value\nis ignored.",
                  "example": "123",
                  "maxLength": 4,
                  "minLength": 3,
                  "pattern": "^\\d{3,4}$",
                  "type": "string"
                }
              },
              "required": [
                "number"
              ],
              "title": "Card (Create)",
              "type": "object",
              "x-examples": {
                "Store a new card": {
                  "expiration_date": "11/2025",
                  "external_identifier": "user-789123",
                  "number": "4111111111111111",
                  "security_code": "123"
                }
              },
              "x-tags": [
                "Request Bodies"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "description": "In many cases the Gr4vy API returns asynchronously, kicking off a job to create an authorization or a transaction, and returning a `Status` object with the ID of the pending object. The ID of this resource can be used to query an objects status, or additionally the client can use Pub/Sub to subscribe to the creation of the pending object.",
              "properties": {
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the card against their own records.",
                  "example": "user-789123",
                  "type": "string",
                  "x-nullable": true
                },
                "resource_id": {
                  "description": "The ID of the object for which this status has been created.",
                  "example": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "format": "uuid",
                  "type": "string"
                },
                "resource_type": {
                  "description": "The type of the object that is pending.\n",
                  "enum": [
                    "transaction",
                    "card"
                  ],
                  "example": "transaction",
                  "type": "string"
                },
                "status": {
                  "description": "The status of this resource being created. This can be one of:\n\n* `pending` - The creation has not yet completed\n* `created` - The resource has been created and can now be queried.",
                  "enum": [
                    "pending",
                    "success",
                    "failure"
                  ],
                  "example": "pending",
                  "type": "string"
                },
                "type": {
                  "description": "The type of this object. This is always `status`.",
                  "enum": [
                    "status"
                  ],
                  "example": "status",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status",
                "resource_type",
                "resource_id"
              ],
              "title": "Status",
              "type": "object",
              "x-examples": {
                "A pending authorization": {
                  "external_identifier": "user-789123",
                  "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "resource_type": "transactions.authorization",
                  "status": "pending",
                  "type": "status"
                },
                "A pending authorization without an external identifier": {
                  "external_identifier": null,
                  "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "resource_type": "transactions.authorization",
                  "status": "pending",
                  "type": "status"
                }
              },
              "x-tags": [
                "Statuses"
              ]
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Registers a card with all available processors.\n\nThis API returns asynchronously, returning a pending `Status` object with the\nID of the pending card resource.",
        "operationId": "post-async-cards",
        "summary": "Register a card (Async)"
      }
    },
    "/async/transactions": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "body",
            "name": "body",
            "schema": {
              "description": "A request to create a transaction",
              "properties": {
                "amount": {
                  "description": "The monitary amount to create an authorization for, in the smallest\ncurrency unit for the given currency, for example `1299` cents to create\nan autorization for `$12.99`.\n\nFor BitCoin, this value will be a decimal point number, for example\n`0.0039`.",
                  "type": "number"
                },
                "capture": {
                  "default": "false",
                  "description": "Wether a successful authorization should immediately be captured as well, effectively processing the payment directly.",
                  "example": true,
                  "type": "boolean"
                },
                "currency": {
                  "description": "A supported ISO-4217 currency code.",
                  "example": "USD",
                  "type": "string"
                },
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the authorization against their own records.",
                  "type": "string",
                  "x-nullable": true
                },
                "payment_method": {
                  "description": "The optional payment method details to create an authorization for. This field is required for processing a card."
                },
                "payment_method_type": {
                  "description": "The type of payment method to create an authorization for.",
                  "enum": [
                    "card",
                    "paypal",
                    "bitcoin"
                  ],
                  "example": "card",
                  "type": "string"
                },
                "use_test_environment": {
                  "description": "Defines if this transaction should run in the payment provider's test environment. Defaults to false.",
                  "type": "boolean"
                }
              },
              "required": [
                "amount",
                "currency",
                "payment_method_type"
              ],
              "title": "Transaction (Create)",
              "type": "object",
              "x-examples": {
                "A test transaction": {
                  "amount": 1299,
                  "capture": true,
                  "currency": "USD",
                  "external_identifier": "string",
                  "payment_method": {
                    "expiration_date": "11/15",
                    "external_identifier": "string",
                    "number": "4111111111111111",
                    "security_code": "123",
                    "store": true
                  },
                  "payment_method_type": "card",
                  "use_test_environment": true
                },
                "Authorize, store, and capture a card": {
                  "amount": 1299,
                  "capture": true,
                  "currency": "USD",
                  "payment_method": {
                    "expiration_date": "11/2025",
                    "number": "4111111111111111",
                    "security_code": "123",
                    "store": true
                  },
                  "payment_method_type": "card"
                },
                "Create a Bitcoin authorization": {
                  "amount": 0.0039999,
                  "currency": "BTC",
                  "payment_method_type": "bitcoin"
                },
                "Create a PayPal authorization": {
                  "amount": 1299,
                  "currency": "USD",
                  "payment_method_type": "paypal"
                }
              },
              "x-tags": [
                "Request Bodies"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "description": "In many cases the Gr4vy API returns asynchronously, kicking off a job to create an authorization or a transaction, and returning a `Status` object with the ID of the pending object. The ID of this resource can be used to query an objects status, or additionally the client can use Pub/Sub to subscribe to the creation of the pending object.",
              "properties": {
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the card against their own records.",
                  "example": "user-789123",
                  "type": "string",
                  "x-nullable": true
                },
                "resource_id": {
                  "description": "The ID of the object for which this status has been created.",
                  "example": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "format": "uuid",
                  "type": "string"
                },
                "resource_type": {
                  "description": "The type of the object that is pending.\n",
                  "enum": [
                    "transaction",
                    "card"
                  ],
                  "example": "transaction",
                  "type": "string"
                },
                "status": {
                  "description": "The status of this resource being created. This can be one of:\n\n* `pending` - The creation has not yet completed\n* `created` - The resource has been created and can now be queried.",
                  "enum": [
                    "pending",
                    "success",
                    "failure"
                  ],
                  "example": "pending",
                  "type": "string"
                },
                "type": {
                  "description": "The type of this object. This is always `status`.",
                  "enum": [
                    "status"
                  ],
                  "example": "status",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status",
                "resource_type",
                "resource_id"
              ],
              "title": "Status",
              "type": "object",
              "x-examples": {
                "A pending authorization": {
                  "external_identifier": "user-789123",
                  "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "resource_type": "transactions.authorization",
                  "status": "pending",
                  "type": "status"
                },
                "A pending authorization without an external identifier": {
                  "external_identifier": null,
                  "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "resource_type": "transactions.authorization",
                  "status": "pending",
                  "type": "status"
                }
              },
              "x-tags": [
                "Statuses"
              ]
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Attempts to create an authorization for a payment method.\n\nThis endpoint accepts a few additional fields that allow for simultanious\ncapturing and storage of the payment method.\n\n* `payment_method.store` - Use this field to store the payment method for\nfuture use. Not all payment methods support this feature.\n* `capture` - Use this method to also perform a capture of the transaction\nafter it has been authorized.\n",
        "operationId": "post-async-transactions",
        "summary": "Authorize (and optionally capture) a transaction (Async)"
      }
    },
    "/async/transactions/batch-capture": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "items": {
                  "items": {
                    "description": "A request to capture a transaction",
                    "properties": {
                      "amount": {
                        "description": "The (partial) amount to capture.\n\nWhen left blank, this will capture the entire amount.",
                        "example": 1299,
                        "maximum": 99999999,
                        "minimum": 0.000001,
                        "type": "number"
                      },
                      "currency": {
                        "description": "A supported ISO-4217 currency code.\n",
                        "example": "USD",
                        "type": "string"
                      },
                      "external_identifier": {
                        "description": "An external identifier that can be used by the merchant to match the capture against their own records.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "amount",
                      "currency"
                    ],
                    "title": "Capture (Create)",
                    "type": "object",
                    "x-examples": {
                      "Capture a previously created authorization": {
                        "amount": 1299,
                        "currency": "USD"
                      }
                    },
                    "x-tags": [
                      "Request Bodies"
                    ]
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "description": "A list of status resources",
              "properties": {
                "items": {
                  "description": "A list of authorizations",
                  "items": {
                    "description": "In many cases the Gr4vy API returns asynchronously, kicking off a job to create an authorization or a transaction, and returning a `Status` object with the ID of the pending object. The ID of this resource can be used to query an objects status, or additionally the client can use Pub/Sub to subscribe to the creation of the pending object.",
                    "properties": {
                      "external_identifier": {
                        "description": "An external identifier that can be used by the merchant to match the card against their own records.",
                        "example": "user-789123",
                        "type": "string",
                        "x-nullable": true
                      },
                      "resource_id": {
                        "description": "The ID of the object for which this status has been created.",
                        "example": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                        "format": "uuid",
                        "type": "string"
                      },
                      "resource_type": {
                        "description": "The type of the object that is pending.\n",
                        "enum": [
                          "transaction",
                          "card"
                        ],
                        "example": "transaction",
                        "type": "string"
                      },
                      "status": {
                        "description": "The status of this resource being created. This can be one of:\n\n* `pending` - The creation has not yet completed\n* `created` - The resource has been created and can now be queried.",
                        "enum": [
                          "pending",
                          "success",
                          "failure"
                        ],
                        "example": "pending",
                        "type": "string"
                      },
                      "type": {
                        "description": "The type of this object. This is always `status`.",
                        "enum": [
                          "status"
                        ],
                        "example": "status",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "status",
                      "resource_type",
                      "resource_id"
                    ],
                    "title": "Status",
                    "type": "object",
                    "x-examples": {
                      "A pending authorization": {
                        "external_identifier": "user-789123",
                        "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                        "resource_type": "transactions.authorization",
                        "status": "pending",
                        "type": "status"
                      },
                      "A pending authorization without an external identifier": {
                        "external_identifier": null,
                        "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                        "resource_type": "transactions.authorization",
                        "status": "pending",
                        "type": "status"
                      }
                    },
                    "x-tags": [
                      "Statuses"
                    ]
                  },
                  "type": "array"
                }
              },
              "required": [
                "items"
              ],
              "title": "Statuses",
              "type": "object",
              "x-examples": {
                "A list of pending transactions": {
                  "items": [
                    {
                      "external_identifier": null,
                      "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                      "resource_type": "transaction",
                      "status": "pending",
                      "type": "status"
                    },
                    {
                      "external_identifier": "user-12345",
                      "resource_id": "2f6a69b4-d053-41f4-99d2-30b58dbabd36",
                      "resource_type": "transaction",
                      "status": "pending",
                      "type": "status"
                    }
                  ]
                },
                "An empty list of pending transactions": {
                  "items": []
                }
              },
              "x-tags": [
                "Statuses"
              ]
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "The body of this API takes either a list of items as a JSON object, or a CSV\nfile with each line representing an authorization request, and the headers\nrepresenting the fields to process.\n\nThis API returns asynchronously, returning a list of status objects with the\nIDs of the pending `Transaction` resources.",
        "operationId": "post-async-transactions-batch-capture",
        "summary": "Batch capture authorizations (Async)"
      }
    },
    "/async/transactions/{transaction_id}/authorize": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "description": "A request to authorize a transaction",
              "properties": {
                "amount": {
                  "description": "The (partial) amount to capture.\n\nWhen left blank, this will capture the entire amount.",
                  "example": 1299,
                  "maximum": 99999999,
                  "minimum": 0.000001,
                  "type": "number"
                },
                "currency": {
                  "description": "A supported ISO-4217 currency code.\n",
                  "example": "USD",
                  "type": "string"
                },
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the authorization against their own records.",
                  "type": "string"
                }
              },
              "title": "Authorize (Create)",
              "type": "object",
              "x-examples": {
                "Authorize with (lower) final amount": {
                  "amount": 399,
                  "currency": "USD"
                },
                "The most basic authorization": {}
              },
              "x-tags": [
                "Request Bodies"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "description": "In many cases the Gr4vy API returns asynchronously, kicking off a job to create an authorization or a transaction, and returning a `Status` object with the ID of the pending object. The ID of this resource can be used to query an objects status, or additionally the client can use Pub/Sub to subscribe to the creation of the pending object.",
              "properties": {
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the card against their own records.",
                  "example": "user-789123",
                  "type": "string",
                  "x-nullable": true
                },
                "resource_id": {
                  "description": "The ID of the object for which this status has been created.",
                  "example": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "format": "uuid",
                  "type": "string"
                },
                "resource_type": {
                  "description": "The type of the object that is pending.\n",
                  "enum": [
                    "transaction",
                    "card"
                  ],
                  "example": "transaction",
                  "type": "string"
                },
                "status": {
                  "description": "The status of this resource being created. This can be one of:\n\n* `pending` - The creation has not yet completed\n* `created` - The resource has been created and can now be queried.",
                  "enum": [
                    "pending",
                    "success",
                    "failure"
                  ],
                  "example": "pending",
                  "type": "string"
                },
                "type": {
                  "description": "The type of this object. This is always `status`.",
                  "enum": [
                    "status"
                  ],
                  "example": "status",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status",
                "resource_type",
                "resource_id"
              ],
              "title": "Status",
              "type": "object",
              "x-examples": {
                "A pending authorization": {
                  "external_identifier": "user-789123",
                  "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "resource_type": "transactions.authorization",
                  "status": "pending",
                  "type": "status"
                },
                "A pending authorization without an external identifier": {
                  "external_identifier": null,
                  "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "resource_type": "transactions.authorization",
                  "status": "pending",
                  "type": "status"
                }
              },
              "x-tags": [
                "Statuses"
              ]
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Authorize an existing but pending transaction.\n\nThis endpoint is used when a transaction was previously created that required\nadditional information, or a redirect, from the buyer. Use this endpoint to\npost the additional information to trigger the transaction to be properly\nauthorized.\n\nAdditionally, this endpoint will capture the transaction and store the payment\nmethod if this was previously specified when creating the transaction. We\ncurrently do not support overwritting these settings at this point.",
        "operationId": "post-async-transactions-transaction_id-authorize",
        "summary": "Authorize pending transaction (Async)"
      }
    },
    "/async/transactions/{transaction_id}/capture": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "description": "A request to capture a transaction",
              "properties": {
                "amount": {
                  "description": "The (partial) amount to capture.\n\nWhen left blank, this will capture the entire amount.",
                  "example": 1299,
                  "maximum": 99999999,
                  "minimum": 0.000001,
                  "type": "number"
                },
                "currency": {
                  "description": "A supported ISO-4217 currency code.\n",
                  "example": "USD",
                  "type": "string"
                },
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the capture against their own records.",
                  "type": "string"
                }
              },
              "required": [
                "amount",
                "currency"
              ],
              "title": "Capture (Create)",
              "type": "object",
              "x-examples": {
                "Capture a previously created authorization": {
                  "amount": 1299,
                  "currency": "USD"
                }
              },
              "x-tags": [
                "Request Bodies"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "description": "In many cases the Gr4vy API returns asynchronously, kicking off a job to create an authorization or a transaction, and returning a `Status` object with the ID of the pending object. The ID of this resource can be used to query an objects status, or additionally the client can use Pub/Sub to subscribe to the creation of the pending object.",
              "properties": {
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the card against their own records.",
                  "example": "user-789123",
                  "type": "string",
                  "x-nullable": true
                },
                "resource_id": {
                  "description": "The ID of the object for which this status has been created.",
                  "example": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "format": "uuid",
                  "type": "string"
                },
                "resource_type": {
                  "description": "The type of the object that is pending.\n",
                  "enum": [
                    "transaction",
                    "card"
                  ],
                  "example": "transaction",
                  "type": "string"
                },
                "status": {
                  "description": "The status of this resource being created. This can be one of:\n\n* `pending` - The creation has not yet completed\n* `created` - The resource has been created and can now be queried.",
                  "enum": [
                    "pending",
                    "success",
                    "failure"
                  ],
                  "example": "pending",
                  "type": "string"
                },
                "type": {
                  "description": "The type of this object. This is always `status`.",
                  "enum": [
                    "status"
                  ],
                  "example": "status",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status",
                "resource_type",
                "resource_id"
              ],
              "title": "Status",
              "type": "object",
              "x-examples": {
                "A pending authorization": {
                  "external_identifier": "user-789123",
                  "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "resource_type": "transactions.authorization",
                  "status": "pending",
                  "type": "status"
                },
                "A pending authorization without an external identifier": {
                  "external_identifier": null,
                  "resource_id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                  "resource_type": "transactions.authorization",
                  "status": "pending",
                  "type": "status"
                }
              },
              "x-tags": [
                "Statuses"
              ]
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Captures a previously authorized transaction.\n\nThis API returns asynchronously, returning status object with the ID of the\npending `Transaction` resource.",
        "operationId": "post-async-transactions-transaction_id-capture",
        "summary": "Capture a previously authorized transaction (Async)"
      }
    },
    "/cards": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 100,
            "description": "The maximum number of items to return",
            "format": "int32",
            "in": "query",
            "maximum": 1000,
            "minimum": 0,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "The marker that identifies the page of results to return.\n\nFor the first page of results, simply omit this parameter.\nFor next pages, simply use the value returned by the API in\nthe `next_page` field.",
            "format": "",
            "in": "query",
            "name": "marker",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of cards",
            "schema": {
              "description": "A list of cards",
              "properties": {
                "items": {
                  "description": "A list of authorizations",
                  "items": {
                    "properties": {
                      "created_at": {
                        "description": "The date and time\nwhen this card was created in our system.",
                        "example": "2013-07-16T19:23:00.000Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "external_identifier": {
                        "description": "An external identifier that can be used by the merchant to match the card against their own records.",
                        "example": "user-789123",
                        "type": "string",
                        "x-nullable": true
                      },
                      "id": {
                        "description": "The internal ID for this card",
                        "example": "fe26475d-ec3e-4884-9553-f7356683f7f9",
                        "type": "string"
                      },
                      "status": {
                        "description": "Wether this card was successfully created or not.",
                        "enum": [
                          "created",
                          "error",
                          "partially_created"
                        ],
                        "example": "created",
                        "type": "string"
                      },
                      "type": {
                        "description": "The type of this resource. Is always `card`",
                        "enum": [
                          "card"
                        ],
                        "example": "card",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id",
                      "status",
                      "created_at"
                    ],
                    "title": "Card",
                    "type": "object",
                    "x-examples": {
                      "A stored card": {
                        "created_at": "2013-07-16T19:23:00.000Z",
                        "external_identifier": "user-789123",
                        "id": "87c5de1b-19af-4196-8acf-d31f23c59484",
                        "status": "partially_created",
                        "type": "card"
                      }
                    },
                    "x-tags": [
                      "Cards"
                    ]
                  },
                  "type": "array"
                },
                "limit": {
                  "default": 100,
                  "description": "The limit set to the number of items returned. ",
                  "example": 100,
                  "format": "int32",
                  "maximum": 1000,
                  "minimum": 0,
                  "type": "integer"
                },
                "next_page": {
                  "description": "The marker that represents the next page of results.",
                  "example": "9f944c64-eaf0-4219-90fd-f7e56c7cd214",
                  "format": "uuid",
                  "type": "string",
                  "x-nullable": true
                },
                "previous_page": {
                  "description": "The marker that represents the previ page of results.",
                  "example": "9049b2f9-0c67-47c5-af18-e8525f855263",
                  "format": "uuid",
                  "type": "string",
                  "x-nullable": true
                }
              },
              "required": [
                "items",
                "limit",
                "next_page",
                "previous_page"
              ],
              "title": "Cards",
              "type": "object",
              "x-examples": {
                "A list of cards": {
                  "items": [
                    {
                      "created_at": "2013-07-16T19:23:00.000Z",
                      "external_identifier": "user-789123",
                      "id": "87c5de1b-19af-4196-8acf-d31f23c59484",
                      "status": "partially_created",
                      "type": "card"
                    }
                  ],
                  "limit": 100,
                  "next_page": "5159a2ee-f8f9-4669-99e7-e1dc85f98cb9",
                  "previous_page": null
                },
                "An empty list of cards": {
                  "items": [],
                  "limit": 100,
                  "next_page": null,
                  "previous_page": null
                }
              },
              "x-tags": [
                "Cards"
              ]
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "description": "A generic client error.",
              "properties": {
                "code": {
                  "description": "A custom code to further describe the type of error being returned. This code provides further specification within the HTTP `status` code and can be used by a program to define logic based on the error.",
                  "example": "incorrect_json",
                  "type": "string"
                },
                "documentation_url": {
                  "description": "A link to the developer documentation for this error.",
                  "example": "https://developer.gr4vy.com/errors/incorrect-json",
                  "format": "uri",
                  "type": "string"
                },
                "message": {
                  "description": "A human readable message that describes the error. The content of this field should not be used to determine any business logic. ",
                  "example": "The request body was not valid JSON.",
                  "type": "string"
                },
                "status": {
                  "default": 0,
                  "description": "The HTTP status code of this error",
                  "example": 499,
                  "exclusiveMaximum": true,
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 200,
                  "type": "integer"
                },
                "type": {
                  "default": "error",
                  "description": "The typeof this object. This is always `error`.",
                  "enum": [
                    "error"
                  ],
                  "example": "error",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "code",
                "status",
                "message",
                "documentation_url"
              ],
              "title": "Error",
              "type": "object",
              "x-examples": {
                "Incorrect JSON": {
                  "code": "incorrect_json",
                  "documentation_url": "https://developer.gr4vy.com/errors/incorrect-json",
                  "message": "The request body was not valid JSON.",
                  "status": 400,
                  "type": "error"
                }
              },
              "x-tags": [
                "Errors"
              ]
            }
          }
        },
        "tags": [
          "Cards"
        ],
        "description": "Returns a list of cards",
        "operationId": "get-cards",
        "summary": "List all cards"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "description": "A request to store a card.",
              "properties": {
                "expiration_date": {
                  "description": "The expiration date of the card, formatted `MM/YY`. If a card has been\npreviously stored with us this value is optional.\n\nIf the `number` of this card represents a tokenized card, then this value\nis ignored.",
                  "example": "11/15",
                  "maxLength": 5,
                  "minLength": 5,
                  "pattern": "^\\d\\d/\\d\\d$",
                  "type": "string"
                },
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the card against their own records.",
                  "type": "string",
                  "x-nullable": true
                },
                "number": {
                  "description": "The 15-16 digit number for this credit card as it can be found on the\nfront of the card.\n\nIf a card has been stored with us previously, this number will represent\nthe unique tokenized card ID provided via our API.",
                  "example": "4111111111111111",
                  "maxLength": 16,
                  "minLength": 14,
                  "pattern": "^[0-9]{14,16}$",
                  "type": "string"
                },
                "security_code": {
                  "description": "The 3 or 4 digit security code often found on the card. This often\nreferred to as the CVV or CVD.\n\nIf the `number` of this card represents a tokenized card, then this value\nis ignored.",
                  "example": "123",
                  "maxLength": 4,
                  "minLength": 3,
                  "pattern": "^\\d{3,4}$",
                  "type": "string"
                }
              },
              "required": [
                "number"
              ],
              "title": "Card (Create)",
              "type": "object",
              "x-examples": {
                "Store a new card": {
                  "expiration_date": "11/2025",
                  "external_identifier": "user-789123",
                  "number": "4111111111111111",
                  "security_code": "123"
                }
              },
              "x-tags": [
                "Request Bodies"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "This API returns asynchronously, returning status object with the ID of the pending `Card` resource.",
            "schema": {
              "properties": {
                "created_at": {
                  "description": "The date and time\nwhen this card was created in our system.",
                  "example": "2013-07-16T19:23:00.000Z",
                  "format": "date-time",
                  "type": "string"
                },
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the card against their own records.",
                  "example": "user-789123",
                  "type": "string",
                  "x-nullable": true
                },
                "id": {
                  "description": "The internal ID for this card",
                  "example": "fe26475d-ec3e-4884-9553-f7356683f7f9",
                  "type": "string"
                },
                "status": {
                  "description": "Wether this card was successfully created or not.",
                  "enum": [
                    "created",
                    "error",
                    "partially_created"
                  ],
                  "example": "created",
                  "type": "string"
                },
                "type": {
                  "description": "The type of this resource. Is always `card`",
                  "enum": [
                    "card"
                  ],
                  "example": "card",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "id",
                "status",
                "created_at"
              ],
              "title": "Card",
              "type": "object",
              "x-examples": {
                "A stored card": {
                  "created_at": "2013-07-16T19:23:00.000Z",
                  "external_identifier": "user-789123",
                  "id": "87c5de1b-19af-4196-8acf-d31f23c59484",
                  "status": "partially_created",
                  "type": "card"
                }
              },
              "x-tags": [
                "Cards"
              ]
            }
          },
          "400": {
            "description": "Returns an error if the request is missing any required fields, or the request body is not valid JSON.",
            "schema": {
              "description": "A generic client error.",
              "properties": {
                "code": {
                  "description": "A custom code to further describe the type of error being returned. This code provides further specification within the HTTP `status` code and can be used by a program to define logic based on the error.",
                  "example": "incorrect_json",
                  "type": "string"
                },
                "documentation_url": {
                  "description": "A link to the developer documentation for this error.",
                  "example": "https://developer.gr4vy.com/errors/incorrect-json",
                  "format": "uri",
                  "type": "string"
                },
                "message": {
                  "description": "A human readable message that describes the error. The content of this field should not be used to determine any business logic. ",
                  "example": "The request body was not valid JSON.",
                  "type": "string"
                },
                "status": {
                  "default": 0,
                  "description": "The HTTP status code of this error",
                  "example": 499,
                  "exclusiveMaximum": true,
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 200,
                  "type": "integer"
                },
                "type": {
                  "default": "error",
                  "description": "The typeof this object. This is always `error`.",
                  "enum": [
                    "error"
                  ],
                  "example": "error",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "code",
                "status",
                "message",
                "documentation_url"
              ],
              "title": "Error",
              "type": "object",
              "x-examples": {
                "Incorrect JSON": {
                  "code": "incorrect_json",
                  "documentation_url": "https://developer.gr4vy.com/errors/incorrect-json",
                  "message": "The request body was not valid JSON.",
                  "status": 400,
                  "type": "error"
                }
              },
              "x-tags": [
                "Errors"
              ]
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "description": "A generic client error.",
              "properties": {
                "code": {
                  "description": "A custom code to further describe the type of error being returned. This code provides further specification within the HTTP `status` code and can be used by a program to define logic based on the error.",
                  "example": "incorrect_json",
                  "type": "string"
                },
                "documentation_url": {
                  "description": "A link to the developer documentation for this error.",
                  "example": "https://developer.gr4vy.com/errors/incorrect-json",
                  "format": "uri",
                  "type": "string"
                },
                "message": {
                  "description": "A human readable message that describes the error. The content of this field should not be used to determine any business logic. ",
                  "example": "The request body was not valid JSON.",
                  "type": "string"
                },
                "status": {
                  "default": 0,
                  "description": "The HTTP status code of this error",
                  "example": 499,
                  "exclusiveMaximum": true,
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 200,
                  "type": "integer"
                },
                "type": {
                  "default": "error",
                  "description": "The typeof this object. This is always `error`.",
                  "enum": [
                    "error"
                  ],
                  "example": "error",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "code",
                "status",
                "message",
                "documentation_url"
              ],
              "title": "Error",
              "type": "object",
              "x-examples": {
                "Incorrect JSON": {
                  "code": "incorrect_json",
                  "documentation_url": "https://developer.gr4vy.com/errors/incorrect-json",
                  "message": "The request body was not valid JSON.",
                  "status": 400,
                  "type": "error"
                }
              },
              "x-tags": [
                "Errors"
              ]
            }
          }
        },
        "tags": [
          "Cards"
        ],
        "description": "Registers a card with all available processors.\n",
        "operationId": "post-cards",
        "summary": "Register a card"
      }
    },
    "/cards/{card_id}": {
      "parameters": [
        {
          "description": "The ID for the card to get the information for.",
          "format": "uuid",
          "in": "path",
          "name": "card_id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a created card resource.",
            "schema": {
              "properties": {
                "created_at": {
                  "description": "The date and time\nwhen this card was created in our system.",
                  "example": "2013-07-16T19:23:00.000Z",
                  "format": "date-time",
                  "type": "string"
                },
                "external_identifier": {
                  "description": "An external identifier that can be used by the merchant to match the card against their own records.",
                  "example": "user-789123",
                  "type": "string",
                  "x-nullable": true
                },
                "id": {
                  "description": "The internal ID for this card",
                  "example": "fe26475d-ec3e-4884-9553-f7356683f7f9",
                  "type": "string"
                },
                "status": {
                  "description": "Wether this card was successfully created or not.",
                  "enum": [
                    "created",
                    "error",
                    "partially_created"
                  ],
                  "example": "created",
                  "type": "string"
                },
                "type": {
                  "description": "The type of this resource. Is always `card`",
                  "enum": [
                    "card"
                  ],
                  "example": "card",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "id",
                "status",
                "created_at"
              ],
              "title": "Card",
              "type": "object",
              "x-examples": {
                "A stored card": {
                  "created_at": "2013-07-16T19:23:00.000Z",
                  "external_identifier": "user-789123",
                  "id": "87c5de1b-19af-4196-8acf-d31f23c59484",
                  "status": "partially_created",
                  "type": "card"
                }
              },
              "x-tags": [
                "Cards"
              ]
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "description": "A generic client error.",
              "properties": {
                "code": {
                  "description": "A custom code to further describe the type of error being returned. This code provides further specification within the HTTP `status` code and can be used by a program to define logic based on the error.",
                  "example": "incorrect_json",
                  "type": "string"
                },
                "documentation_url": {
                  "description": "A link to the developer documentation for this error.",
                  "example": "https://developer.gr4vy.com/errors/incorrect-json",
                  "format": "uri",
                  "type": "string"
                },
                "message": {
                  "description": "A human readable message that describes the error. The content of this field should not be used to determine any business logic. ",
                  "example": "The request body was not valid JSON.",
                  "type": "string"
                },
                "status": {
                  "default": 0,
                  "description": "The HTTP status code of this error",
                  "example": 499,
                  "exclusiveMaximum": true,
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 200,
                  "type": "integer"
                },
                "type": {
                  "default": "error",
                  "description": "The typeof this object. This is always `error`.",
                  "enum": [
                    "error"
                  ],
                  "example": "error",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "code",
                "status",
                "message",
                "documentation_url"
              ],
              "title": "Error",
              "type": "object",
              "x-examples": {
                "Incorrect JSON": {
                  "code": "incorrect_json",
                  "documentation_url": "https://developer.gr4vy.com/errors/incorrect-json",
                  "message": "The request body was not valid JSON.",
                  "status": 400,
                  "type": "error"
                }
              },
              "x-tags": [
                "Errors"
              ]
            }
          },
          "404": {
            "description": "Returns an error if the authorization can not be found or has not yet been created.",
            "schema": {
              "description": "A generic client error.",
              "properties": {
                "code": {
                  "description": "A custom code to further describe the type of error being returned. This code provides further specification within the HTTP `status` code and can be used by a program to define logic based on the error.",
                  "example": "incorrect_json",
                  "type": "string"
                },
                "documentation_url": {
                  "description": "A link to the developer documentation for this error.",
                  "example": "https://developer.gr4vy.com/errors/incorrect-json",
                  "format": "uri",
                  "type": "string"
                },
                "message": {
                  "description": "A human readable message that describes the error. The content of this field should not be used to determine any business logic. ",
                  "example": "The request body was not valid JSON.",
                  "type": "string"
                },
                "status": {
                  "default": 0,
                  "description": "The HTTP status code of this error",
                  "example": 499,
                  "exclusiveMaximum": true,
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 200,
                  "type": "integer"
                },
                "type": {
                  "default": "error",
                  "description": "The typeof this object. This is always `error`.",
                  "enum": [
                    "error"
                  ],
                  "example": "error",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "code",
                "status",
                "message",
                "documentation_url"
              ],
              "title": "Error",
              "type": "object",
              "x-examples": {
                "Incorrect JSON": {
                  "code": "incorrect_json",
                  "documentation_url": "https://developer.gr4vy.com/errors/incorrect-json",
                  "message": "The request body was not valid JSON.",
                  "status": 400,
                  "type": "error"
                }
              },
              "x-tags": [
                "Errors"
              ]
            }
          }
        },
        "tags": [
          "Cards"
        ],
        "description": "Get an authorization. ",
        "operationId": "get-cards-card_id",
        "summary": "Get a card"
      }
    },
    "/cards/{card_id}/events": {
      "parameters": [
        {
          "description": "The ID for the card to get the information for.",
          "format": "uuid",
          "in": "path",
          "name": "card_id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A list of events for a card",
              "properties": {
                "items": {
                  "description": "A list of card events",
                  "items": {
                    "description": "An event that happened for a transaction.",
                    "properties": {
                      "code": {
                        "description": "The type of event, in dot-format syntax.",
                        "example": "transaction.rejected.account_closed",
                        "type": "string"
                      },
                      "created_at": {
                        "description": "When this event was recorded.\n",
                        "format": "date-time",
                        "type": "string"
                      },
                      "external_service": {
                        "description": "An optional related resource that triggered this event.",
                        "properties": {
                          "display_name": {
                            "description": "The user's name for the resource",
                            "type": "string"
                          },
                          "id": {
                            "description": "The ID of the resource\n",
                            "type": "string"
                          },
                          "service_id": {
                            "description": "The ID of the service that this resource is based on.",
                            "type": "string"
                          },
                          "type": {
                            "description": "The type of the resource",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type"
                        ],
                        "type": "object"
                      },
                      "id": {
                        "description": "The unique ID for this event.",
                        "format": "uuid",
                        "type": "string"
                      },
                      "type": {
                        "description": "The type of this resource. Must always be transaction.event",
                        "example": "transaction.event",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "type",
                      "created_at",
                      "code"
                    ],
                    "title": "Card Event",
                    "type": "object",
                    "x-examples": {
                      "Event related to a service": {
                        "code": "card.rejected",
                        "created_at": "2020-04-01 14:00:00Z",
                        "external_service": {
                          "display_name": "Stripe (Main)",
                          "id": "stripe-card-699c1745-53cf-4b13-b977-fef0ecd4c681",
                          "service_id": "stripe-card",
                          "type": "payment-service"
                        },
                        "id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                        "type": "card.event"
                      },
                      "Event without resource": {
                        "code": "transactions.server_error",
                        "created_at": "2020-04-01 14:00:00Z",
                        "id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                        "resource": null,
                        "type": "transactions.event"
                      }
                    },
                    "x-tags": [
                      "Cards"
                    ]
                  },
                  "type": "array"
                },
                "limit": {
                  "default": 100,
                  "description": "The limit set to the number of items returned. ",
                  "example": 100,
                  "format": "int32",
                  "maximum": 1000,
                  "minimum": 0,
                  "type": "integer"
                },
                "next_page": {
                  "description": "The marker that represents the next page of results.",
                  "example": "9f944c64-eaf0-4219-90fd-f7e56c7cd214",
                  "format": "uuid",
                  "type": "string",
                  "x-nullable": true
                },
                "previous_page": {
                  "description": "The marker that represents the previ page of results.",
                  "example": "9049b2f9-0c67-47c5-af18-e8525f855263",
                  "format": "uuid",
                  "type": "string",
                  "x-nullable": true
                }
              },
              "required": [
                "items",
                "limit",
                "next_page",
                "previous_page"
              ],
              "title": "Card Events",
              "type": "object",
              "x-examples": {
                "A list of card events": {
                  "items": [
                    {
                      "code": "card.rejected",
                      "created_at": "2020-04-01 14:00:00Z",
                      "external_service": {
                        "display_name": "Stripe (Main)",
                        "id": "stripe-card-699c1745-53cf-4b13-b977-fef0ecd4c681",
                        "service_id": "stripe-card",
                        "type": "payment-service"
                      },
                      "id": "8724fd24-5489-4a5d-90fd-0604df7d3b83",
                      "type": "card.event"
                    }
                  ],
                  "limit": 100,
                  "next_page": "5159a2ee-f8f9-4669-99e7-e1dc85f98cb9",
                  "previous_page": null
                },
                "An empty list of events": {
                  "items": [],
                  "limit": 100,
                  "next_page": null,
                  "previous_page": null
                }
              },
              "x-tags": [
                "Cards"
              ]
            }
          }
        },
        "tags": [
          "Cards"
        ],
        "description": "Returns a list of events for a given transaction.",
        "operationId": "get-cards-card_id-events",
        "summary": "List the events for a given card"
      }
    },
    "/payment-service-definitions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A list of available payment services definitions.",
              "properties": {
                "items": {
                  "items": {
                    "description": "An available payment service",
                    "properties": {
                      "display_name": {
                        "description": "The display name of this service",
                        "example": "Stripe",
                        "type": "string"
                      },
                      "help_url": {
                        "description": "A URL that provides more details about this payment service",
                        "type": "string"
                      },
                      "id": {
                        "description": "The ID of the payment service. This is the underlying provider followed by a dash followed by the payment method ID.",
                        "example": "stipe-card",
                        "type": "string"
                      },
                      "logo_url": {
                        "description": "The logo for this provider",
                        "format": "uri",
                        "type": "string"
                      },
                      "payment_method_id": {
                        "description": "The ID of the payment method that this services handles",
                        "example": "card",
                        "type": "string"
                      },
                      "required_fields": {
                        "description": "A list of fields that need to be submitted when activating the payment service.",
                        "items": {
                          "description": "A single field that needs to be submitted for a payment service when it is created. ",
                          "properties": {
                            "display_name": {
                              "description": "The name to display for a field in the cluster UI",
                              "type": "string"
                            },
                            "help_url": {
                              "description": "A URL that provides more details about this field",
                              "type": "string"
                            },
                            "key": {
                              "description": "The key of a field that needs to be submitted",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "minItems": 1,
                        "type": "array"
                      },
                      "supported_countries": {
                        "description": "A list of 2-letter ISO country codes that this service supports",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "supported_currencies": {
                        "description": "A list of 3-letter ISO currency codes that this service supports",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": {
                        "default": "payment-service-definition",
                        "description": "The type of this resource. ",
                        "type": "string"
                      }
                    },
                    "title": "Available Payment Service (Discovery)",
                    "type": "object",
                    "x-examples": {
                      "Braintree": {
                        "display_name": "Cards using Braintree",
                        "help_url": "https://developer.braintreepayments.com",
                        "id": "braintree-card",
                        "logo_url": "https://braintree.com/braintree.png",
                        "payment_method_id": "card",
                        "required_fields": [
                          {
                            "display_name": "Client Token",
                            "help_url": "https://developers.braintreepayments.com/guides/authorization/client-token",
                            "key": "client_token"
                          },
                          {
                            "display_name": "Tokenization Key",
                            "help_url": "https://developers.braintreepayments.com/guides/authorization/tokenization-key/javascript/v3",
                            "key": "tokenization_key"
                          }
                        ],
                        "supported_countries": [
                          "DE",
                          "US"
                        ],
                        "supported_currencies": [
                          "EUR",
                          "USD"
                        ],
                        "type": "payment-service-definition"
                      },
                      "Stripe": {
                        "display_name": "Cards using Stripe",
                        "help_url": "https://stripe.com/docs",
                        "id": "stripe-card",
                        "logo_url": "https://stripe.com/stripe.png",
                        "payment_method_id": "card",
                        "required_fields": [
                          {
                            "display_name": "Publishable API key",
                            "help_url": "https://stripe.com/docs/keys",
                            "key": "public_key"
                          },
                          {
                            "display_name": "Secret API key",
                            "help_url": "https://stripe.com/docs/keys",
                            "key": "private_key"
                          }
                        ],
                        "supported_countries": [
                          "DE",
                          "US"
                        ],
                        "supported_currencies": [
                          "EUR",
                          "USD"
                        ],
                        "type": "payment-service-definition"
                      }
                    },
                    "x-tags": [
                      "Discovery"
                    ]
                  },
                  "type": "array"
                }
              },
              "title": "Payment service definitions",
              "type": "object",
              "x-examples": {
                "A list of payment service definitions": {
                  "items": [
                    {
                      "display_name": "Cards using Stripe",
                      "help_url": "https://stripe.com/docs",
                      "id": "stripe-card",
                      "logo_url": "https://stripe.com/stripe.png",
                      "payment_method_id": "card",
                      "required_fields": [
                        {
                          "display_name": "Publishable API Key",
                          "help_url": "https://stripe.com/docs/keys",
                          "key": "public_key"
                        },
                        {
                          "display_name": "Secret API Key",
                          "help_url": "https://stripe.com/docs/keys",
                          "key": "private_key"
                        }
                      ],
                      "supported_countries": [
                        "DE",
                        "US"
                      ],
                      "supported_currencies": [
                        "EUR",
                        "USD"
                      ],
                      "type": "payment-service-definition"
                    },
                    {
                      "display_name": "Cards using Braintree",
                      "help_url": "https://developer.braintreepayments.com",
                      "id": "braintree-card",
                      "logo_url": "https://braintree.com/braintree.png",
                      "payment_method_id": "card",
                      "required_fields": [
                        {
                          "display_name": "Client Token",
                          "help_url": "https://developers.braintreepayments.com/guides/authorization/client-token",
                          "key": "client_token"
                        },
                        {
                          "display_name": "Tokenization Key",
                          "help_url": "https://developers.braintreepayments.com/guides/authorization/tokenization-key/javascript/v3",
                          "key": "tokenization_key"
                        }
                      ],
                      "supported_countries": [
                        "DE",
                        "US"
                      ],
                      "supported_currencies": [
                        "EUR",
                        "USD"
                      ],
                      "type": "payment-service-definition"
                    }
                  ]
                }
              },
              "x-tags": [
                "Discovery"
              ]
            }
          }
        },
        "tags": [
          "Definitions"
        ],
        "description": "Returns a list of all available payment service definitions.",
        "operationId": "get-payment-service-definitions",
        "summary": "Get all payment service definitions"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "description": "Updates an available payment service",
              "properties": {
                "available": {
                  "description": "Defines if a service is available to be activated in this cluster.",
                  "type": "boolean"
                },
                "display_name": {
                  "description": "The display name of this service",
                  "example": "Stripe",
                  "type": "string"
                },
                "help_url": {
                  "description": "A URL that provides more details about this payment service",
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "payment_method_id": {
                  "description": "The ID of the payment method that this services handles",
                  "example": "card",
                  "type": "string"
                },
                "required_fields": {
                  "description": "A list of fields that need to be submitted when activating the payment service.",
                  "items": {
                    "description": "A single field that needs to be submitted for a payment service when it is created. ",
                    "properties": {
                      "display_name": {
                        "description": "The name to display for a field in the cluster UI",
                        "type": "string"
                      },
                      "help_url": {
                        "description": "A URL that provides more details about this field",
                        "type": "string"
                      },
                      "key": {
                        "description": "The key of a field that needs to be submitted",
                        "type": "string"
                      }
                    },
                    "required": [
                      "key",
                      "display_name",
                      "help_url"
                    ],
                    "type": "object"
                  },
                  "minItems": 1,
                  "type": "array"
                },
                "supported_countries": {
                  "description": "A list of 2-letter ISO country codes that this service supports",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "supported_currencies": {
                  "description": "A list of 3-letter ISO currency codes that this service supports",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "required": [
                "id",
                "required_fields",
                "help_url",
                "available",
                "display_name",
                "supported_currencies",
                "supported_countries",
                "payment_method_id"
              ],
              "title": "Create a payment service definition",
              "type": "object",
              "x-examples": {
                "Braintree": {
                  "display_name": "Cards using Braintree",
                  "help_url": "https://developer.braintreepayments.com",
                  "id": "braintree-card",
                  "logo_url": "https://braintree.com/braintree.png",
                  "payment_method_id": "card",
                  "required_fields": [
                    {
                      "display_name": "Client Token",
                      "help_url": "https://developers.braintreepayments.com/guides/authorization/client-token",
                      "key": "client_token"
                    },
                    {
                      "display_name": "Tokenization Key",
                      "help_url": "https://developers.braintreepayments.com/guides/authorization/tokenization-key/javascript/v3",
                      "key": "tokenization_key"
                    }
                  ],
                  "supported_countries": [
                    "DE",
                    "US"
                  ],
                  "supported_currencies": [
                    "EUR",
                    "USD"
                  ]
                },
                "Stripe": {
                  "display_name": "Cards using Stripe",
                  "help_url": "https://stripe.com/docs",
                  "id": "stripe-card",
                  "logo_url": "https://stripe.com/stripe.png",
                  "payment_method_id": "card",
                  "required_fields": [
                    {
                      "display_name": "Publishable API key",
                      "help_url": "https://stripe.com/docs/keys",
                      "key": "public_key"
                    },
                    {
                      "display_name": "Secret API key",
                      "help_url": "https://stripe.com/docs/keys",
                      "key": "private_key"
                    }
                  ],
                  "supported_countries": [
                    "DE",
                    "US"
                  ],
                  "supported_currencies": [
                    "EUR",
                    "USD"
                  ]
                }
              },
              "x-tags": [
                "Discovery"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "description": "An available payment service",
              "properties": {
                "display_name": {
                  "description": "The display name of this service",
                  "example": "Stripe",
                  "type": "string"
                },
                "help_url": {
                  "description": "A URL that provides more details about this payment service",
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the payment service. This is the underlying provider followed by a dash followed by the payment method ID.",
                  "example": "stipe-card",
                  "type": "string"
                },
                "logo_url": {
                  "description": "The logo for this provider",
                  "format": "uri",
                  "type": "string"
                },
                "payment_method_id": {
                  "description": "The ID of the payment method that this services handles",
                  "example": "card",
                  "type": "string"
                },
                "required_fields": {
                  "description": "A list of fields that need to be submitted when activating the payment service.",
                  "items": {
                    "description": "A single field that needs to be submitted for a payment service when it is created. ",
                    "properties": {
                      "display_name": {
                        "description": "The name to display for a field in the cluster UI",
                        "type": "string"
                      },
                      "help_url": {
                        "description": "A URL that provides more details about this field",
                        "type": "string"
                      },
                      "key": {
                        "description": "The key of a field that needs to be submitted",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "minItems": 1,
                  "type": "array"
                },
                "supported_countries": {
                  "description": "A list of 2-letter ISO country codes that this service supports",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "supported_currencies": {
                  "description": "A list of 3-letter ISO currency codes that this service supports",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "type": {
                  "default": "payment-service-definition",
                  "description": "The type of this resource. ",
                  "type": "string"
                }
              },
              "title": "Available Payment Service (Discovery)",
              "type": "object",
              "x-examples": {
                "Braintree": {
                  "display_name": "Cards using Braintree",
                  "help_url": "https://developer.braintreepayments.com",
                  "id": "braintree-card",
                  "logo_url": "https://braintree.com/braintree.png",
                  "payment_method_id": "card",
                  "required_fields": [
                    {
                      "display_name": "Client Token",
                      "help_url": "https://developers.braintreepayments.com/guides/authorization/client-token",
                      "key": "client_token"
                    },
                    {
                      "display_name": "Tokenization Key",
                      "help_url": "https://developers.braintreepayments.com/guides/authorization/tokenization-key/javascript/v3",
                      "key": "tokenization_key"
                    }
                  ],
                  "supported_countries": [
                    "DE",
                    "US"
                  ],
                  "supported_currencies": [
                    "EUR",
                    "USD"
                  ],
                  "type": "payment-service-definition"
                },
                "Stripe": {
                  "display_name": "Cards using Stripe",
                  "help_url": "https://stripe.com/docs",
                  "id": "stripe-card",
                  "logo_url": "https://stripe.com/stripe.png",
                  "payment_method_id": "card",
                  "required_fields": [
                    {
                      "display_name": "Publishable API key",
                      "help_url": "https://stripe.com/docs/keys",
                      "key": "public_key"
                    },
                    {
                      "display_name": "Secret API key",
                      "help_url": "https://stripe.com/docs/keys",
                      "key": "private_key"
                    }
                  ],
                  "supported_countries": [
                    "DE",
                    "US"
                  ],
                  "supported_currencies": [
                    "EUR",
                    "USD"
                  ],
                  "type": "payment-service-definition"
                }
              },
              "x-tags": [
                "Discovery"
              ]
            }
          }
        },
        "tags": [
          "Definitions"
        ],
        "description": "Creates a new payment service definition",
        "operationId": "post-payment-service-definitions",
        "summary": "Create payment service definition"
      }
    },
    "/payment-service-definitions/{payment_service_definition_id}": {
      "parameters": [
        {
          "description": "The unique ID of the payment service definition",
          "in": "path",
          "name": "payment_service_definition_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Removes a payment service definition",
        "operationId": "delete-payment-services-definitions-payment_service_definition_id",
        "summary": "Delete payment service definition"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "An available payment service",
              "properties": {
                "display_name": {
                  "description": "The display name of this service",
                  "example": "Stripe",
                  "type": "string"
                },
                "help_url": {
                  "description": "A URL that provides more details about this payment service",
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the payment service. This is the underlying provider followed by a dash followed by the payment method ID.",
                  "example": "stipe-card",
                  "type": "string"
                },
                "logo_url": {
                  "description": "The logo for this provider",
                  "format": "uri",
                  "type": "string"
                },
                "payment_method_id": {
                  "description": "The ID of the payment method that this services handles",
                  "example": "card",
                  "type": "string"
                },
                "required_fields": {
                  "description": "A list of fields that need to be submitted when activating the payment service.",
                  "items": {
                    "description": "A single field that needs to be submitted for a payment service when it is created. ",
                    "properties": {
                      "display_name": {
                        "description": "The name to display for a field in the cluster UI",
                        "type": "string"
                      },
                      "help_url": {
                        "description": "A URL that provides more details about this field",
                        "type": "string"
                      },
                      "key": {
                        "description": "The key of a field that needs to be submitted",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "minItems": 1,
                  "type": "array"
                },
                "supported_countries": {
                  "description": "A list of 2-letter ISO country codes that this service supports",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "supported_currencies": {
                  "description": "A list of 3-letter ISO currency codes that this service supports",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "type": {
                  "default": "payment-service-definition",
                  "description": "The type of this resource. ",
                  "type": "string"
                }
              },
              "title": "Available Payment Service (Discovery)",
              "type": "object",
              "x-examples": {
                "Braintree": {
                  "display_name": "Cards using Braintree",
                  "help_url": "https://developer.braintreepayments.com",
                  "id": "braintree-card",
                  "logo_url": "https://braintree.com/braintree.png",
                  "payment_method_id": "card",
                  "required_fields": [
                    {
                      "display_name": "Client Token",
                      "help_url": "https://developers.braintreepayments.com/guides/authorization/client-token",
                      "key": "client_token"
                    },
                    {
                      "display_name": "Tokenization Key",
                      "help_url": "https://developers.braintreepayments.com/guides/authorization/tokenization-key/javascript/v3",
                      "key": "tokenization_key"
                    }
                  ],
                  "supported_countries": [
                    "DE",
                    "US"
                  ],
                  "supported_currencies": [
                    "EUR",
                    "USD"
                  ],
                  "type": "payment-service-definition"
                },
                "Stripe": {
                  "display_name": "Cards using Stripe",
                  "help_url": "https://stripe.com/docs",
                  "id": "stripe-card",
                  "logo_url": "https://stripe.com/stripe.png",
                  "payment_method_id": "card",
                  "required_fields": [
                    {
                      "display_name": "Publishable API key",
                      "help_url": "https://stripe.com/docs/keys",
                      "key": "public_key"
                    },
                    {
                      "display_name": "Secret API key",
                      "help_url": "https://stripe.com/docs/keys",
                      "key": "private_key"
                    }
                  ],
                  "supported_countries": [
                    "DE",
                    "US"
                  ],
                  "supported_currencies": [
                    "EUR",
                    "USD"
                  ],
                  "type": "payment-service-definition"
                }
              },
              "x-tags": [
                "Discovery"
              ]
            }
          }
        },
        "tags": [
          "Definitions"
        ],
        "description": "Gets the definition for a payment service.",
        "operationId": "get-payment-service-definitions-payment_service_definition_id",
        "summary": "Get payment service definition"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "description": "Updates an available payment service",
              "properties": {
                "available": {
                  "description": "Defines if a service is available to be activated in this cluster.",
                  "type": "boolean"
                },
                "display_name": {
                  "description": "The display name of this service",
                  "example": "Stripe",
                  "type": "string"
                },
                "help_url": {
                  "description": "A URL that provides more details about this payment service",
                  "type": "string"
                },
                "payment_method_id": {
                  "description": "The ID of the payment method that this services handles",
                  "example": "card",
                  "type": "string"
                },
                "required_fields": {
                  "description": "A list of fields that need to be submitted when activating the payment service.",
                  "items": {
                    "description": "A single field that needs to be submitted for a payment service when it is created. ",
                    "properties": {
                      "display_name": {
                        "description": "The name to display for a field in the cluster UI",
                        "type": "string"
                      },
                      "help_url": {
                        "description": "A URL that provides more details about this field",
                        "type": "string"
                      },
                      "key": {
                        "description": "The key of a field that needs to be submitted",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "minItems": 1,
                  "type": "array"
                },
                "supported_countries": {
                  "description": "A list of 2-letter ISO country codes that this service supports",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "supported_currencies": {
                  "description": "A list of 3-letter ISO currency codes that this service supports",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "title": "Update an available Payment Service (Discovery)",
              "type": "object",
              "x-examples": {
                "Braintree": {
                  "display_name": "Cards using Braintree",
                  "help_url": "https://developer.braintreepayments.com",
                  "id": "braintree-card",
                  "logo_url": "https://braintree.com/braintree.png",
                  "payment_method_id": "card",
                  "required_fields": [
                    {
[...]
