{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@gr4vy.com",
      "name": "Gr4vy Support",
      "url": "https://gr4vy.com"
    },
    "description": "Welcome to the Gr4vy API reference documentation.\nOur API is still very much a work in product and subject to change.",
    "license": {
      "name": "MIT",
      "url": "https://raw.githubusercontent.com/gr4vy/gr4vy-openapi/main/LICENSE"
    },
    "termsOfService": "https://gr4vy.com",
    "title": "Gr4vy API (Beta)",
    "version": "1.0"
  },
  "host": "api.demo.gr4vy.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api-key-pairs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of active key pairs",
            "schema": {
              "$ref": "#/definitions/APIKeyPairs"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "API Key Pairs"
        ],
        "description": "Returns a list of active API key-pairs",
        "operationId": "list-api-key-pairs",
        "summary": "List API key-pairs",
        "x-internal": true
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "A newly created key pair",
            "schema": {
              "$ref": "#/definitions/APIKeyPair"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "API Key Pairs"
        ],
        "description": "Creates a new API key-pair",
        "operationId": "create-api-key-pair",
        "summary": "Create an API key-pair",
        "x-internal": true
      }
    },
    "/api-key-pairs/{api_key_pair_id}": {
      "parameters": [
        {
          "description": "The ID for the API key pair.",
          "in": "path",
          "name": "api_key_pair_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "API Key Pairs"
        ],
        "description": "Deletes an API key-pair",
        "operationId": "delete-api-key-pair",
        "summary": "Delete an API key-pair",
        "x-internal": true
      }
    },
    "/async/payment-methods": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Stores and tokenizes a new payment method",
        "operationId": "async-store-payment-method",
        "summary": "Store a new payment method"
      }
    },
    "/async/transactions": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TransactionCreateRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted.",
            "schema": {
              "$ref": "#/definitions/Error400IncorrectJson"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Attempts to create an authorization for a payment method.\n\nThis endpoint accepts a few additional fields that allow for simultaneous\ncapturing and storage of the payment method.\n\n* `payment_method.store` - Use this field to store the payment method for\nfuture use. Not all payment methods support this feature.\n* `capture` - Use this method to also perform a capture of the transaction\nafter it has been authorized.\n",
        "operationId": "async-create-transaction",
        "summary": "Create transaction"
      }
    },
    "/async/transactions/batch-capture": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "items": {
                  "items": {
                    "$ref": "#/definitions/TransactionsBatchCaptureRequest"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Statuses"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted.",
            "schema": {
              "$ref": "#/definitions/Error400IncorrectJson"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "The body of this API takes a list of items as a JSON object.\n\nThis API returns asynchronously, returning a list of status objects with the\nIDs of the pending `Transaction` resources.",
        "operationId": "async-batch-capture-transactions",
        "summary": "Batch capture authorizations"
      }
    },
    "/async/transactions/{transaction_id}/capture": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TransactionCaptureRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted.",
            "schema": {
              "$ref": "#/definitions/Error400IncorrectJson"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Captures a previously authorized transaction.\n\nThis API returns asynchronously, returning status object with the ID of the\npending `Transaction` resource.",
        "operationId": "async-capture-transaction",
        "summary": "Capture authorized transaction"
      }
    },
    "/auth/sessions": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Ends a user's session by invalidating the used access token.",
        "operationId": "logout",
        "summary": "Ends a user session (Logout)",
        "x-internal": true
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SessionCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a session object",
            "schema": {
              "$ref": "#/definitions/Session"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if the credentials provided were not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "security": [],
        "tags": [
          "Sessions"
        ],
        "description": "Authenticate a user using an email address and password.\n",
        "operationId": "login",
        "summary": "Create a user session (Logout)",
        "x-internal": true
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a session object",
            "schema": {
              "$ref": "#/definitions/Session"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if the refresh token provided was not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Re-authenticate a user using a refresh token.\n",
        "operationId": "refresh-session",
        "summary": "Renew a user session",
        "x-internal": true
      }
    },
    "/buyers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filters the results to only the items for which the `external_identifier`\nmatches this value.",
            "in": "query",
            "name": "external_identifier",
            "type": "string"
          },
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of buyers",
            "schema": {
              "$ref": "#/definitions/Buyers"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Buyers"
        ],
        "description": "Returns a list of cards",
        "operationId": "list-buyers",
        "summary": "List buyers"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BuyerCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "This API returns asynchronously, returning status object with the ID of the pending `Card` resource.",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "409": {
            "description": "Returns an error if duplicate resource has been found.",
            "schema": {
              "$ref": "#/definitions/Error409DuplicateRecord"
            }
          }
        },
        "tags": [
          "Buyers"
        ],
        "description": "Adds a buyer, allowing for payment methods and transactions to be associated\nto this buyer.\n",
        "operationId": "add-buyer",
        "summary": "Add buyer"
      }
    },
    "/buyers/{buyer_id}": {
      "parameters": [
        {
          "description": "The unique ID for a buyer.",
          "format": "uuid",
          "in": "path",
          "name": "buyer_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Buyers"
        ],
        "description": "Deletes a buyer record. Any associated tokenized payment methods will remain\nin the system but no longer associated to the buyer.",
        "operationId": "delete-buyer",
        "summary": "Delete buyer"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the information about a buyer.",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Buyers"
        ],
        "description": "Gets the information about a buyer",
        "operationId": "get-buyer",
        "summary": "Get buyer"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BuyerUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An updated buyer record.",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Buyers"
        ],
        "description": "Updates a buyer's details.\n",
        "operationId": "update-buyer",
        "summary": "Update buyer"
      }
    },
    "/callbacks/payment-methods/{payment_method_id}/confirm": {
      "parameters": [
        {
          "description": "The ID of the payment method",
          "format": "uuid",
          "in": "path",
          "name": "payment_method_id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "302": {
            "description": "Redirects the browser back to the `redirect_url` specified\nwhen the payment method was first created. It appends the payment method's\nID and status.",
            "headers": {
              "location": {
                "description": "The URL to redirect the browser to. This is the `redirect_url`\nspecified when the payment method was first created with some\nadditional query parameters appended.\n\n* `payment_method_id` - The ID of the payment method\n* `payment_method_status` - The current value of the\n  `payment_method_status`  field of the payment method",
                "format": "url",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "security": [],
        "tags": [
          "Callbacks"
        ],
        "description": "Internal API used as a redirect endpoint for payment methods that require\nbuyer authorization.\n\nFor example, when a buyer tries to add a PayPal payment method, the buyer\nneeds to be sent to PayPal, after which they are sent back to this endpoint\nupon completion.\n\nThis API applies any required updates for the payment method based on its\nquery parameters and then redirects the browser back to the `redirect_url`\nspecified when the payment method was first created.",
        "operationId": "payment-method-confirm-callback",
        "summary": "Confirm buyer authorization",
        "x-internal": true
      }
    },
    "/card-rulesets": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of rulesets",
            "schema": {
              "$ref": "#/definitions/CardRulesets"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Card Rulesets"
        ],
        "description": "Returns a list of rulesets that can be used for card transactions.",
        "operationId": "list-cards-rulesets",
        "summary": "List card rulesets",
        "x-internal": true
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CardRulesetCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A newly created ruleset",
            "schema": {
              "$ref": "#/definitions/CardRuleset"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Card Rulesets"
        ],
        "description": "Creates a new ruleset that can be used for card transactions.",
        "operationId": "add-card-ruleset",
        "summary": "Create card ruleset",
        "x-internal": true
      }
    },
    "/card-rulesets/{card_ruleset_id}": {
      "parameters": [
        {
          "description": "The unique ID for a card ruleset.",
          "format": "uuid",
          "in": "path",
          "name": "card_ruleset_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "403": {
            "description": "Returns an error if the ruleset could not be deleted",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Card Rulesets"
        ],
        "description": "Deletes a specific card ruleset",
        "operationId": "delete-card-ruleset",
        "summary": "Delete card ruleset",
        "x-internal": true
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A card ruleset",
            "schema": {
              "$ref": "#/definitions/CardRuleset"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Card Rulesets"
        ],
        "description": "Returns a rulesets that can be used for card transactions.",
        "operationId": "get-card-ruleset",
        "summary": "Get card ruleset",
        "x-internal": true
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CardRulesetUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An updated ruleset",
            "schema": {
              "$ref": "#/definitions/CardRuleset"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Card Rulesets"
        ],
        "description": "Updates a ruleset that can be used for card transactions.",
        "operationId": "update-card-ruleset",
        "summary": "Update card ruleset",
        "x-internal": true
      }
    },
    "/card-rulesets/{card_ruleset_id}/activate": {
      "parameters": [
        {
          "description": "The unique ID for a card ruleset.",
          "format": "uuid",
          "in": "path",
          "name": "card_ruleset_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "An activated ruleset",
            "schema": {
              "$ref": "#/definitions/CardRuleset"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "403": {
            "description": "Returns an error if the ruleset is not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Card Rulesets"
        ],
        "description": "Activates a ruleset for card transactions, making it the one\nruleset used by all card transactions.\n\nOnly one ruleset can be active at any time. By activating a ruleset the\nexisting active ruleset will be deactivated.\n\nOnly valid rulesets can be activated.",
        "operationId": "activate-card-ruleset",
        "summary": "Activate card ruleset",
        "x-internal": true
      }
    },
    "/merchants/main": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the information about the merchant.",
            "schema": {
              "$ref": "#/definitions/Merchant"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Merchants"
        ],
        "description": "Gets the information about the current merchant account",
        "operationId": "get-current-merchant",
        "summary": "Get current merchant details",
        "x-internal": true
      }
    },
    "/payment-methods": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filters the results to only the items for which the `buyer` has an\n`id` that matches this value.",
            "in": "query",
            "name": "buyer_id",
            "type": "string"
          },
          {
            "description": "Filters the results to only the items for which the `buyer` has an\n`external_identifier` that matches this value.",
            "in": "query",
            "name": "buyer_external_identifier",
            "type": "string"
          },
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentMethods"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "description": "Returns a list of stored payment methods",
        "operationId": "list-payment-methods",
        "summary": "List stored payment methods"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {}
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "description": "Stores and tokenizes a new payment method",
        "operationId": "store-payment-method",
        "summary": "Store a new payment method"
      }
    },
    "/payment-methods/{payment_method_id}": {
      "parameters": [
        {
          "description": "The ID of the payment method",
          "format": "uuid",
          "in": "path",
          "name": "payment_method_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "description": "Removes a stored payment method",
        "operationId": "delete-payment-method",
        "summary": "Delete a payment method"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a payment method",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "description": "Gets the details for a stored payment method",
        "operationId": "get-payment-method",
        "summary": "Get stored payment method"
      }
    },
    "/payment-methods/{payment_method_id}/events": {
      "parameters": [
        {
          "description": "The ID of the payment method",
          "format": "uuid",
          "in": "path",
          "name": "payment_method_id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of payment method events.",
            "schema": {
              "$ref": "#/definitions/PaymentMethodEvents"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "description": "Returns a list of events for a given payment method.",
        "operationId": "list-payment-method-event",
        "summary": "List payment method events"
      }
    },
    "/payment-options": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filters the results to only the items which support this country code. A\ncountry is formatted as 2-letter ISO country code.",
            "in": "query",
            "name": "country",
            "type": "string"
          },
          {
            "description": "Filters the results to only the items which support this currency code. A\ncurrency is formatted as 3-letter ISO currency code.",
            "in": "query",
            "name": "currency",
            "type": "string"
          },
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of available payment options for the given currency and\ncountry code.",
            "schema": {
              "$ref": "#/definitions/PaymentOptions"
            }
          },
          "400": {
            "description": "Returns an error if  any of the query parameters are not recognised.",
            "schema": {
              "$ref": "#/definitions/Error400BadRequest"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Options"
        ],
        "description": "Returns a list of available payment method options for a currency\nand country.",
        "operationId": "list-payment-options",
        "summary": "List available payment options for a locale"
      }
    },
    "/payment-service-definitions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentServiceDefinitions"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Service Definitions"
        ],
        "description": "Returns a list of all available payment service definitions.",
        "operationId": "list-payment-service-definitions",
        "summary": "List payment service definitions",
        "x-internal": true
      }
    },
    "/payment-service-definitions/{payment_service_definition_id}": {
      "parameters": [
        {
          "description": "The unique ID of the payment service definition",
          "in": "path",
          "name": "payment_service_definition_id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentServiceDefinition"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Service Definitions"
        ],
        "description": "Gets the definition for a payment service.",
        "operationId": "get-payment-service-definition",
        "summary": "Get payment service definition",
        "x-internal": true
      }
    },
    "/payment-services": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentServices"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Lists the currently configured and activated payment services for a for a cluster.",
        "operationId": "list-payment-services",
        "summary": "List payment services"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PaymentServiceCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A created response",
            "schema": {
              "$ref": "#/definitions/PaymentService"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Adds a new payment service by providing a custom name and a value for each of the required fields.",
        "operationId": "add-payment-service",
        "summary": "Add payment service"
      }
    },
    "/payment-services/{payment_service_id}": {
      "parameters": [
        {
          "description": "The ID of the payment service",
          "in": "path",
          "name": "payment_service_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Deletes a specific active payment service.",
        "operationId": "delete-payment-service",
        "summary": "Delete active payment service"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentService"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Retrieves the details of a single configured payment service.",
        "operationId": "get-payment-service",
        "summary": "Get payment service"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PaymentServiceUpdateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The updated payment service",
            "schema": {
              "$ref": "#/definitions/PaymentService"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Updates an existing payment service. Allows all fields to be changed except for the service ID.",
        "operationId": "update-payment-service",
        "summary": "Update payment service"
      }
    },
    "/transactions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filters the results to only the items for which the `id` or\n`external_identifier` matches this value.",
            "in": "query",
            "name": "search",
            "type": "string"
          },
          {
            "description": "Filters the results to only the items for which the `transaction_status`\nmatches this value.",
            "in": "query",
            "name": "transaction_status",
            "type": "string"
          },
          {
            "description": "Filters the results to only transactions created before this ISO date-time string.",
            "in": "query",
            "name": "before_created_at",
            "type": "string"
          },
          {
            "description": "Filters the results to only transactions created after this ISO date-time string.",
            "in": "query",
            "name": "after_created_at",
            "type": "string"
          },
          {
            "description": "Filters the results to only transactions last updated before this ISO\ndate-time string.",
            "in": "query",
            "name": "before_updated_at",
            "type": "string"
          },
          {
            "description": "Filters the results to only transactions last updated after this ISO\ndate-time string.",
            "in": "query",
            "name": "after_updated_at",
            "type": "string"
          },
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 500,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of transactions for an account.",
            "schema": {
              "$ref": "#/definitions/Transactions"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Lists all transactions for an account. Sorted by last `updated_at` status.",
        "operationId": "list-transactions",
        "summary": "List transactions"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TransactionCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A successful transaction",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Attempts to create an authorization for a payment method. In some cases it is\nnot possible to create the authorization without redirecting the user for\ntheir authorization. In these cases the status is set to\n`buyer_authorization_required` and an `authorization_url` is returned.\n\nAdditionally, this endpoint accepts a few additional fields that allow for\nsimultaneous capturing and storage of the payment method.\n\n* `store` - Use this field to store the payment method for\nfuture use. Not all payment methods support this feature.\n* `capture` - Use this method to also perform a capture of the transaction\nafter it has been authorized.\n",
        "operationId": "authorize-new-transaction",
        "summary": "Authorize new transaction"
      }
    },
    "/transactions/{transaction_id}": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a transaction resource.",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found or has not yet been created.",
            "schema": {}
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Get information about a transaction",
        "operationId": "get-transaction",
        "summary": "Get transaction"
      }
    },
    "/transactions/{transaction_id}/capture": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TransactionCaptureRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A transaction",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {}
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found or has not yet been created.",
            "schema": {}
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Captures a previously authorized transaction.",
        "operationId": "capture-transaction",
        "summary": "Capture authorized transaction"
      }
    },
    "/transactions/{transaction_id}/events": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransactionEvents"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found or has not yet been created.",
            "schema": {}
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Returns a list of events for a given transaction.",
        "operationId": "list-transaction-events",
        "summary": "List transaction events"
      }
    },
    "/transactions/{transaction_id}/refund": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The cancelled transaction.",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found or has not yet been created.",
            "schema": {}
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Refunds or voids transaction. If this transaction was already captured, it\nwill issue a refund. If the transaction was not yet captured the authorization\nwill instead be voided.",
        "operationId": "refund-transaction",
        "summary": "Refund or void transaction"
      }
    },
    "/users/me": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the currently authenticated user",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Get current user information",
        "operationId": "get-current-user",
        "summary": "Get current",
        "x-internal": true
      }
    }
  },
  "definitions": {
    "APIKeyPair": {
      "description": "Details about an API key pair",
      "properties": {
        "created_at": {
          "description": "The date and time when this key pair was created",
          "example": "2012-12-12T10:53:43-08:00",
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "description": "A unique ID for this key-pair.",
          "example": "gg9ILy",
          "type": "string"
        },
        "passphrase": {
          "description": "The passphrase used to decrypt the private key. This is only returned\nafter the key is initially requested. For subsequent API calls this value\nis `null`.",
          "example": "af2675c9aba7de1f3bccb30757d7afd8",
          "type": "string",
          "x-nullable": true
        },
        "private_key": {
          "description": "The encrypted private key for the key-pair. This is only returned after\nthe key is initially requested. For subsequent API calls this value is\n`null`.",
          "example": "-----BEGIN ENCRYPTED PRIVATE KEY-----\n...\n-----END ENCRYPTED PRIVATE KEY-----",
          "type": "string",
          "x-nullable": true
        },
        "type": {
          "description": "`api-key-pair`",
          "enum": [
            "api-key-pair"
          ],
          "example": "api-key-pair",
          "type": "string"
        },
        "updated_at": {
          "description": "The date and time when this key pair was last updated",
          "example": "2012-12-12T10:53:43-08:00",
          "format": "date-time",
          "type": "string"
        }
      },
      "title": "API Key Pair",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "API Key Pairs"
      ]
    },
    "APIKeyPairs": {
      "description": "A list of the currently active API key pairs",
      "properties": {
        "items": {
          "items": {
            "$ref": "#/definitions/APIKeyPair"
          },
          "type": "array"
        },
        "limit": {
          "$ref": "../properties/limit-100.yaml"
        },
        "next_cursor": {
          "$ref": "../properties/next_cursor.yaml"
        },
        "previous_cursor": {
          "$ref": "../properties/previous_cursor.yaml"
        }
      },
      "title": "A list of active API key pairs",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "API Key Pairs"
      ]
    },
    "Buyer": {
      "properties": {
        "created_at": {
          "description": "The date and time\nwhen this buyer was created in our system.",
          "example": "2013-07-16T19:23:00.000Z",
          "format": "date-time",
          "type": "string"
        },
        "display_name": {
          "description": "A unique name for this buyer which is used in the Gr4vy admin panel to give a buyer a human readable name.",
          "example": "John L.",
          "maxLength": 1000,
          "minLength": 1,
          "type": "string",
          "x-nullable": true
        },
        "external_identifier": {
          "description": "An external identifier that can be used to match the buyer against your own records.",
          "example": "user-789123",
          "maxLength": 320,
          "minLength": 1,
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "description": "The unique Gr4vy ID for this buyer",
          "example": "fe26475d-ec3e-4884-9553-f7356683f7f9",
          "format": "uuid",
          "type": "string"
        },
        "type": {
          "description": "The type of this resource. Is always `buyer`",
          "enum": [
            "buyer"
          ],
          "example": "buyer",
          "type": "string"
        },
        "updated_at": {
          "description": "The date and time\nwhen this buyer was last updated in our system.",
          "example": "2013-07-16T19:23:00.000Z",
          "format": "date-time",
          "type": "string"
        }
      },
      "title": "Buyer",
      "type": "object",
      "x-tags": [
        "Buyers"
      ]
    },
    "BuyerCreateRequest": {
      "description": "A request to create a buyer.",
      "properties": {
        "display_name": {
          "description": "A unique name for this buyer which is used in the Gr4vy admin panel to give a buyer a human readable name.",
          "example": "John L.",
          "type": "string",
          "x-nullable": true
        },
        "external_identifier": {
          "description": "An external identifier that can be used to match the buyer against your own records. This value needs to be unique for all buyers.",
          "example": "user-789123",
          "type": "string",
          "x-nullable": true
        }
      },
      "title": "Buyer (Create)",
      "type": "object",
      "x-tags": [
        "Buyers"
      ]
    },
    "BuyerUpdateRequest": {
      "allOf": [
        {
          "$ref": "#/definitions/BuyerCreateRequest"
        }
      ],
      "description": "A request to update a buyer.",
      "title": "Buyer (Update)",
      "type": "object",
      "x-tags": [
        "Buyers"
      ]
    },
    "Buyers": {
      "description": "A list of buyers",
      "properties": {
        "items": {
          "description": "A list of buyers",
          "items": {
            "$ref": "#/definitions/Buyer"
          },
          "type": "array"
        },
        "limit": {
          "$ref": "../properties/limit-100.yaml"
        },
        "next_cursor": {
          "$ref": "../properties/next_cursor.yaml"
        },
        "previous_cursor": {
          "$ref": "../properties/previous_cursor.yaml"
        }
      },
      "title": "Buyers",
      "type": "object",
      "x-tags": [
        "Buyers"
      ]
    },
    "Card": {
      "description": "A stored card",
      "properties": {
        "buyer": {
          "allOf": [
            {
              "$ref": "#/definitions/Buyer"
            },
            {
              "description": "The optional buyer for which this payment method has been stored."
            },
            {
              "x-nullable": true
            }
          ]
        },
        "created_at": {
          "description": "The date and time when this payment method was first created in our\nsystem.",
          "example": "2013-07-16T19:23:00.000Z",
          "format": "date-time",
          "type": "string"
        },
        "details": {
          "$ref": "#/definitions/CardDetails"
        },
        "external_identifier": {
          "description": "An external identifier that can be used to match the payment method\nagainst your own records.",
          "example": "user-789123",
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "description": "The unique ID of the payment method.",
          "example": "77a76f7e-d2de-4bbc-ada9-d6a0015e6bd5",
          "format": "uuid",
          "type": "string"
        },
        "method": {
          "description": "`card`",
          "enum": [
            "card"
          ],
          "example": "card",
          "type": "string"
        },
        "payment_method_status": {
          "description": "The state of the card tokenization.",
          "enum": [
            "tokenized",
            "not_tokenized"
          ],
          "example": "tokenized",
          "type": "string"
        },
        "status": {
          "description": "The state of the payment method in Gr4vy.",
          "example": "created",
          "type": "string"
        },
        "token": {
          "description": "A Gr4vy token that represents this payment method, in the format of a\ncredit-card number starting with the digit 0. You can store this token\nin your own system and use it to process a payment with this payment\nmethod at a later date.",
          "example": "0123456789123458",
          "type": "string",
          "x-nullable": true
        },
        "type": {
          "description": "`payment-method`",
          "enum": [
            "payment-method"
          ],
          "example": "payment-method",
          "type": "string"
        },
        "updated_at": {
          "description": "The date and time when this payment method was last updated in our system.",
          "example": "2013-07-16T19:23:00.000Z",
          "format": "date-time",
          "type": "string"
        }
      },
      "title": "Card",
      "type": "object",
      "x-tags": [
        "Payment Methods"
      ]
    },
    "CardDetails": {
      "description": "Additional details about a stored card",
      "properties": {
        "expiration_date": {
          "description": "The expiration date for a card.",
          "example": "11 / 21",
          "type": "string"
        },
        "number": {
          "description": "Partial number details for a stored card, hiding all but the last few\nnumbers.",
          "example": "XXXX XXXX XXXX 1111",
          "type": "string"
        },
        "scheme": {
          "description": "The type of the card.",
          "enum": [
            "visa",
            "mastercard",
            "american-express",
            "diners-club",
            "discover",
            "jcb",
            "unionpay",
            "maestro",
            "elo",
            "mir",
            "hiper",
            "hipercard"
          ],
          "example": "visa",
          "type": "string"
        }
      },
      "title": "Card details",
      "type": "object",
      "x-tags": [
        "Payment Methods"
      ]
    },
    "CardRuleBooleanConditional": {
      "description": "A conditional rule in a ruleset that matches boolean fields. It defines an\nif/else condition and a rule to move on to next for each of these values.",
      "properties": {
        "false_rule_id": {
          "description": "the ID of the rule to use if the comparison equals false.",
          "example": "rule-2",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "id": {
          "description": "A unique ID for this rule in the ruleset.",
          "example": "rule-0",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "key": {
          "description": "The transaction field to filter by.",
          "enum": [
            "store",
            "use_test_environment"
          ],
          "example": "store",
          "type": "string"
        },
        "rule_type": {
          "description": "`boolean-conditional`",
          "enum": [
            "boolean-conditional"
          ],
          "example": "boolean-conditional",
          "type": "string"
        },
        "true_rule_id": {
          "description": "the ID of the rule to use if the comparison equals true.",
          "example": "rule-1",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "type": {
          "description": "`card-rule`",
          "enum": [
            "card-rule"
          ],
          "example": "card-rule",
          "type": "string"
        }
      },
      "required": [
        "type",
        "id",
        "rule_type",
        "key",
        "condition",
        "values",
        "true_rule_id",
        "false_rule_id"
      ],
      "title": "Card rule (Boolean conditional)",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rulesets"
      ]
    },
    "CardRuleNumberConditional": {
      "description": "A conditional rule in a ruleset that matches numbers. It defines an if/else\ncondition and a rule to move on to next for each of these values.",
      "properties": {
        "condition": {
          "description": "The comparison to make to `value` property.",
          "enum": [
            "==",
            "!=",
            "<=",
            ">=",
            ">",
            "<"
          ],
          "example": ">=",
          "type": "string"
        },
        "false_rule_id": {
          "description": "the ID of the rule to use if the comparison equals false.",
          "example": "rule-2",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "id": {
          "description": "A unique ID for this rule in the ruleset.",
          "example": "rule-0",
          "type": "string"
        },
        "key": {
          "description": "The transaction field to filter by.",
          "enum": [
            "amount"
          ],
          "example": "amount",
          "type": "string"
        },
        "rule_type": {
          "description": "`number-conditional`",
          "enum": [
            "number-conditional"
          ],
          "example": "number-conditional",
          "type": "string"
        },
        "true_rule_id": {
          "description": "the ID of the rule to use if the comparison equals true.",
          "example": "rule-1",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "type": {
          "description": "`card-rule`",
          "enum": [
            "card-rule"
          ],
          "example": "card-rule",
          "type": "string"
        },
        "value": {
          "description": "The values to compare the `key` to.",
          "example": 200,
          "maximum": 99999,
          "minimum": 0,
          "type": "number"
        }
      },
      "required": [
        "type",
        "id",
        "rule_type",
        "key",
        "condition",
        "value",
        "true_rule_id",
        "false_rule_id"
      ],
      "title": "Card rule (Number conditional)",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rulesets"
      ]
    },
    "CardRulePaymentServicesTerminal": {
      "description": "A terminal rule in a ruleset. It the payment services to use in case the\nruleset reaches this node.",
      "properties": {
        "id": {
          "description": "A unique ID for this rule in the ruleset",
          "example": "rule-0",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "payment_service_ids": {
          "description": "A list of IDs for the payment services to use, in order of priority.\nThe payment services all need to process cards.",
          "example": [
            "stripe-card-f47db210-8e30-4f74-8123-b834604f2042",
            "card-braintree-0bb93ab0-86ef-4ad5-addf-b69913128d96"
          ],
          "items": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string"
          },
          "type": "array"
        },
        "rule_type": {
          "description": "`payment-services-terminal`",
          "enum": [
            "payment-services-terminal"
          ],
          "example": "payment-services-terminal",
          "type": "string"
        },
        "type": {
          "description": "`card-rule`",
          "enum": [
            "card-rule"
          ],
          "example": "card-rule",
          "type": "string"
        }
      },
      "required": [
        "type",
        "id",
        "rule_type",
        "payment_service_ids"
      ],
      "title": "Terminal Card Rule",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rulesets"
      ]
    },
    "CardRuleStringConditional": {
      "description": "A conditional rule in a ruleset that matches strings. It defines an if/else\ncondition and a rule to move on to next for each of these values.",
      "properties": {
        "condition": {
          "description": "The comparison to make to `value` property.",
          "enum": [
            "IN",
            "NOT IN"
          ],
          "example": "IN",
          "type": "string"
        },
        "false_rule_id": {
          "description": "the ID of the rule to use if the comparison equals false.",
          "example": "rule-2",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "id": {
          "description": "A unique ID for this rule in the ruleset.",
          "example": "rule-0",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "key": {
          "description": "The transaction field to filter by.",
          "enum": [
            "currency",
            "card_type"
          ],
          "example": "currency",
          "type": "string"
        },
        "rule_type": {
          "description": "`string-conditional`",
          "enum": [
            "string-conditional"
          ],
          "example": "string-conditional",
          "type": "string"
        },
        "true_rule_id": {
          "description": "the ID of the rule to use if the comparison equals true.",
          "example": "rule-1",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "type": {
          "description": "`card-rule`",
          "enum": [
            "card-rule"
          ],
          "example": "card-rule",
          "type": "string"
        },
        "values": {
          "description": "The values to compare the `key` to.",
          "example": [
            "USD",
            "EUR"
          ],
          "items": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string"
          },
          "maxItems": 100,
          "minItems": 1,
          "type": "array"
        }
      },
      "required": [
        "type",
        "id",
        "rule_type",
        "key",
        "condition",
        "values",
        "true_rule_id",
        "false_rule_id"
      ],
      "title": "Card rule (String conditional)",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rulesets"
      ]
    },
    "CardRuleset": {
      "description": "A card ruleset which holds the rules that are parsed for a card transaction.\n\nMultiple rulesets can exists at any time, but only one can be deployed.",
      "properties": {
        "active": {
          "description": "Whether this ruleset is currently in use. Only one ruleset can\nbe active at any time.",
          "example": true,
          "type": "boolean"
        },
        "created_at": {
          "description": "The date and time when this ruleset was created",
          "example": "2012-12-12T10:53:43-08:00",
          "format": "date-time",
          "type": "string"
        },
        "display_name": {
          "description": "The display name of the ruleset",
          "example": "Q2 2020 Ruleset",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "id": {
          "description": "The ID of the ruleset",
          "example": "8d3fe99b-1422-42e6-bbb3-932d95ae5f79",
          "format": "uuid",
          "type": "string"
        },
        "root_rule_id": {
          "description": "The ID of the rule that is the starting point of the ruleset.",
          "example": "rule-0",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "rules": {
          "description": "A list of rules in this ruleset",
          "items": {},
          "type": "array"
        },
        "type": {
          "description": "`ruleset`",
          "enum": [
            "ruleset"
          ],
          "example": "ruleset",
          "type": "string"
        },
        "updated_at": {
          "description": "The date and time when this ruleset was last updated",
          "example": "2012-12-12T10:53:43-08:00",
          "format": "date-time",
          "type": "string"
        },
        "valid": {
          "description": "Whether this ruleset is valid and complete. Only valid rulesets can be\nactivated.",
          "example": true,
          "type": "boolean"
        }
      },
      "title": "Card Ruleset",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rulesets"
      ]
    },
    "CardRulesetCreateRequest": {
      "description": "Creates a new card ruleset which holds the rules that are parsed for a card\ntransaction.",
      "properties": {
        "display_name": {
          "description": "The display name of the ruleset.",
          "example": "Q2 2020 Ruleset",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "root_rule_id": {
          "description": "The ID of the rule that is the starting point of the ruleset.",
          "example": "rule-0",
          "maxLength": 50,
          "minLength": 1,
          "type": "string"
        },
        "rules": {
          "description": "A list of rules in this ruleset.",
          "items": {},
          "type": "array"
        }
      },
      "required": [
        "display_name",
        "root_rule_id",
        "rules"
      ],
      "title": "Card Ruleset (Create)",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rulesets"
      ]
    },
    "CardRulesetUpdateRequest": {
      "allOf": [
        {
          "$ref": "#/definitions/CardRulesetCreateRequest"
        }
      ],
      "description": "Updates a card ruleset which holds the rules that are parsed for a card\ntransaction.",
      "title": "Card Ruleset (Update)",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rulesets"
      ]
    },
    "CardRulesets": {
      "description": "A list of card rulesets",
      "properties": {
        "items": {
          "description": "A list of card rulesets",
          "items": {
            "$ref": "#/definitions/CardRuleset"
          },
          "type": "array"
        },
        "limit": {
          "$ref": "../properties/limit-100.yaml"
        },
        "next_cursor": {
          "$ref": "../properties/next_cursor.yaml"
        },
        "previous_cursor": {
          "$ref": "../properties/previous_cursor.yaml"
        }
      },
      "title": "Card Rulesets",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rulesets"
      ]
    },
    "CardStoreRequest": {
      "description": "A request to store a card.",
      "properties": {
        "buyer_external_identifier": {
          "description": "The `external_identifier` of the buyer to associate this payment method\nto. This field is ignored if the `buyer_id` is provided.",
          "example": "user-789123",
          "type": "string"
        },
        "buyer_id": {
          "description": "The ID of the buyer to associate this payment method to. If provided, the\n`buyer_external_identifier` is ignored.",
          "example": "fe26475d-ec3e-4884-9553-f7356683f7f9",
          "format": "uuid",
          "type": "string"
        },
        "expiration_date": {
          "description": "The expiration date of the card, formatted `MM/YY`. If a card has been\npreviously stored with us this value is optional.\n\nIf the `number` of this card represents a tokenized card, then this value\nis ignored.",
          "example": "11/15",
          "maxLength": 5,
          "minLength": 5,
          "pattern": "^\\d\\d/\\d\\d$",
          "type": "string"
        },
        "external_identifier": {
          "description": "An external identifier that can be used to match the card against your own records.",
          "example": "user-789123",
          "type": "string",
          "x-nullable": true
        },
        "method": {
          "description": "`card`",
          "enum": [
            "card"
          ],
          "example": "card",
          "type": "string"
        },
        "number": {
          "description": "The 15-16 digit number for this credit card as it can be found on the\nfront of the card.\n\nIf a card has been stored with us previously, this number will represent\nthe unique tokenized card ID provided via our API.",
          "example": "4111111111111111",
          "maxLength": 16,
          "minLength": 14,
          "pattern": "^[0-9]{14,16}$",
          "type": "string"
        },
        "security_code": {
          "description": "The 3 or 4 digit security code often found on the card. This often\nreferred to as the CVV or CVD.\n\nIf the `number` of this card represents a tokenized card, then this value\nis ignored.",
          "example": "123",
          "maxLength": 4,
          "minLength": 3,
          "pattern": "^\\d{3,4}$",
          "type": "string"
        }
      },
      "required": [
        "method",
        "number",
        "expiration_date",
        "security_code"
      ],
      "title": "Card (Store)",
      "type": "object",
      "x-tags": [
        "Request Bodies"
      ]
    },
    "Error": {
      "description": "A generic client error.",
      "properties": {
        "code": {
          "description": "A custom code to further describe the type of error being returned. This code provides further specification within the HTTP `status` code and can be used by a program to define logic based on the error.",
          "example": "incorrect_json",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "A human readable message that describes the error. The content of this field should not be used to determine any business logic. ",
          "example": "The request body was not valid JSON.",
          "type": "string"
        },
        "status": {
          "default": 0,
          "description": "The HTTP status code of this error",
          "example": 499,
          "exclusiveMaximum": true,
          "format": "int32",
          "maximum": 600,
          "minimum": 200,
          "type": "integer"
        },
        "type": {
          "default": "error",
          "description": "The type of this object. This is always `error`.",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Error",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Errors"
      ]
    },
    "Error400BadRequest": {
      "description": "Bad Request (HTTP 400)",
      "properties": {
        "code": {
          "description": "`bad_request`",
          "enum": [
            "bad_request"
          ],
          "example": "bad_request",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "Describes the fields that are missing or incorrectly formatted in the API\nrequest.",
          "example": "Missing '****' field",
          "type": "string"
        },
        "status": {
          "description": "`400`",
          "enum": [
            400
          ],
          "example": 400,
          "type": "integer"
        },
        "type": {
          "description": "`error`",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Bad Request",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Error400IncorrectJson": {
      "description": "Incorrect JSON (HTTP 400)",
      "properties": {
        "code": {
          "description": "`incorrect_json`",
          "enum": [
            "incorrect_json"
          ],
          "example": "incorrect_json",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "example": [],
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "Incorrect JSON. The request body could not be parsed as valid JSON.",
          "example": "Incorrect JSON. The request body could not be parsed as valid JSON.",
          "type": "string"
        },
        "status": {
          "description": "`400`",
          "enum": [
            400
          ],
          "example": 400,
          "type": "integer"
        },
        "type": {
          "description": "`error`",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Incorrect JSON",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Error401Unauthorized": {
      "description": "Unauthorized Error (HTTP 401)",
      "properties": {
        "code": {
          "description": "`unauthorized`",
          "enum": [
            "unauthorized"
          ],
          "example": "unauthorized",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "example": [],
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "No valid API authentication found",
          "enum": [
            "No valid API authentication found"
          ],
          "example": "No valid API authentication found",
          "type": "string"
        },
        "status": {
          "description": "`401`",
          "enum": [
            401
          ],
          "example": 401,
          "type": "integer"
        },
        "type": {
          "description": "`error`",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Unauthorized Error",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Error404NotFound": {
      "description": "Not Found Error (HTTP 404)",
      "properties": {
        "code": {
          "description": "`not_found`",
          "enum": [
            "not_found"
          ],
          "example": "not_found",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "example": [],
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "The resource could not be found",
          "enum": [
            "The resource could not be found"
          ],
          "example": "The resource could not be found",
          "type": "string"
        },
        "status": {
          "description": "`404`",
          "enum": [
            404
          ],
          "example": 404,
          "type": "integer"
        },
        "type": {
          "description": "`error`",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Not Found Error",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Error404PendingCreation": {
      "description": "Pending Creation Error (HTTP 404)",
      "properties": {
        "code": {
          "description": "`pending_creation`",
          "enum": [
            "pending_creation"
          ],
          "example": "pending_creation",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "example": [],
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": " The resource is still pending",
          "enum": [
            "The resource is still pending"
          ],
          "example": "The resource is still pending",
          "type": "string"
        },
        "status": {
          "description": "`404`",
          "enum": [
            404
          ],
          "example": 404,
          "type": "integer"
        },
        "type": {
          "description": "`error`",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Pending Creation Error",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Error409DuplicateRecord": {
      "description": "Duplicate Record Error (HTTP 409)",
      "properties": {
        "code": {
          "description": "`duplicate_record`",
          "enum": [
            "duplicate_record"
          ],
          "example": "duplicate_record",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "example": [],
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "Further details on the field that triggered the error.",
          "example": "A duplicate ecord exists with this external_identifier value",
          "type": "string"
        },
        "status": {
          "description": "`409`",
          "enum": [
            409
          ],
          "example": 409,
          "type": "integer"
        },
        "type": {
          "description": "`error`",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Duplicate Record Error",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "ErrorDetail": {
      "description": "Additional detail about the part of a request body that caused an issue.",
      "properties": {
        "location": {
          "description": "The location where the error caused an issue.",
          "enum": [
            "query",
            "body",
            "path",
            "header"
          ],
          "example": "body",
          "type": "string"
        },
        "message": {
          "description": "A human readable message for this error detail.",
          "example": "field required",
          "type": "string"
        },
        "pointer": {
          "description": "The exact item for which the validation did not succeed. This is a JSON\npointer for request bodies, while for query, path, and header parameters\nit is the name of the parameter.",
          "example": "/payment_method/number",
          "type": "string"
        },
        "type": {
          "description": "A unique identifier for the type of error that occurred.",
          "example": "value_error.missing",
          "type": "string"
        }
      },
      "title": "Error details",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Merchant": {
      "description": "A merchant in a cluster",
      "properties": {
        "display_name": {
          "description": "The name of this merchant as it will be displayed in the admin UI.",
          "example": "Example Inc",
          "type": "string"
        },
        "short_name": {
          "description": "The unique short-name of the merchant, as used in their Gr4vy URLs. For\nexample, a short-name of `nike` would result in the Gr4vy cluster's API\nbeing hosted on `https://api.nike.gr4vy.com`.",
          "example": "acme",
          "type": "string"
        },
        "type": {
          "description": "`merchant`",
          "enum": [
            "merchant"
          ],
          "example": "merchant",
          "type": "string"
        }
      },
      "title": "Merchant",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Merchants"
      ]
    },
    "PayPal": {
      "description": "A stored PayPal account",
      "properties": {
        "buyer": {
          "allOf": [
            {
              "$ref": "#/definitions/Buyer"
            },
            {
              "description": "The optional buyer for which this payment method has been stored."
            },
            {
              "x-nullable": true
            }
          ]
        },
        "created_at": {
          "description": "The date and time when this payment method was first created in our\nsystem.",
          "example": "2013-07-16T19:23:00.000Z",
          "format": "date-time",
          "type": "string"
        },
        "details": {
          "$ref": "#/definitions/PayPalDetails"
        },
        "external_identifier": {
          "description": "An external identifier that can be used to match the payment method\nagainst your own records.",
          "example": "user-789123",
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "description": "The unique ID of the payment method.",
          "example": "77a76f7e-d2de-4bbc-ada9-d6a0015e6bd5",
          "format": "uuid",
          "type": "string"
        },
        "method": {
          "description": "`paypal`",
          "enum": [
[...]
