{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@gr4vy.com",
      "name": "Gr4vy Support",
      "url": "https://gr4vy.com"
    },
    "description": "Welcome to the Gr4vy API reference documentation.\nOur API is still very much a work in product and subject to change.",
    "license": {
      "name": "MIT",
      "url": "https://raw.githubusercontent.com/gr4vy/gr4vy-openapi/main/LICENSE"
    },
    "termsOfService": "https://gr4vy.com",
    "title": "Gr4vy API (Beta)",
    "version": "1.0"
  },
  "host": "api.demo.gr4vy.app",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api-key-pairs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of active key pairs.",
            "schema": {
              "$ref": "#/definitions/APIKeyPairs"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "API Key Pairs"
        ],
        "description": "Returns a list of active API key-pairs.",
        "operationId": "list-api-key-pairs",
        "summary": "List API key-pairs",
        "x-internal": true
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Returns a newly created key pair.",
            "schema": {
              "$ref": "#/definitions/APIKeyPair"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "API Key Pairs"
        ],
        "description": "Creates a new API key-pair.",
        "operationId": "create-api-key-pair",
        "summary": "Create an API key-pair",
        "x-internal": true
      }
    },
    "/api-key-pairs/{api_key_pair_id}": {
      "parameters": [
        {
          "description": "The ID for the API key pair.",
          "in": "path",
          "name": "api_key_pair_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Returns an empty response."
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "API Key Pairs"
        ],
        "description": "Deletes an API key-pair.",
        "operationId": "delete-api-key-pair",
        "summary": "Delete an API key-pair",
        "x-internal": true
      }
    },
    "/async/payment-methods": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CardRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Returns a status object.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Stores and tokenizes a new payment method.",
        "operationId": "async-store-payment-method",
        "summary": "Store a new payment method",
        "x-internal": true
      }
    },
    "/async/transactions": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TransactionRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Returns a status object.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted.",
            "schema": {
              "$ref": "#/definitions/Error400IncorrectJson"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Attempts to create an authorization for a payment method.\n\nThis endpoint accepts a few additional fields that allow for simultaneous\ncapturing and storage of the payment method.\n\n* `payment_method.store` - Use this field to store the payment method for\nfuture use. Not all payment methods support this feature.\n* `capture` - Use this method to also perform a capture of the transaction\nafter it has been authorized.\n",
        "operationId": "async-create-transaction",
        "summary": "Create transaction",
        "x-internal": true
      }
    },
    "/async/transactions/batch-capture": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "items": {
                  "items": {
                    "$ref": "#/definitions/TransactionsBatchCaptureRequest"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Returns a status object.",
            "schema": {
              "$ref": "#/definitions/Statuses"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted.",
            "schema": {
              "$ref": "#/definitions/Error400IncorrectJson"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "The body of this API takes a list of items as a JSON object.\n\nThis API returns asynchronously, returning a list of status objects with the\nIDs of the pending `Transaction` resources.",
        "operationId": "async-batch-capture-transactions",
        "summary": "Batch capture transactions",
        "x-internal": true
      }
    },
    "/async/transactions/{transaction_id}/authorize": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "202": {
            "description": "Returns a status object.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted.",
            "schema": {
              "$ref": "#/definitions/Error400IncorrectJson"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Authorize a previously approved transaction.\n\nThis API returns asynchronously, returning status object with the ID of the\npending `Transaction` resource.",
        "operationId": "async-authorize-transaction",
        "summary": "Authorize approved transaction",
        "x-internal": true
      }
    },
    "/async/transactions/{transaction_id}/capture": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TransactionCaptureRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Returns a status object.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted.",
            "schema": {
              "$ref": "#/definitions/Error400IncorrectJson"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Async APIs"
        ],
        "description": "Captures a previously authorized transaction.\n\nThis API returns asynchronously, returning status object with the ID of the\npending `Transaction` resource.",
        "operationId": "async-capture-transaction",
        "summary": "Capture transaction",
        "x-internal": true
      }
    },
    "/auth/sessions": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Returns an empty response."
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Ends a user's session by invalidating the used access token.",
        "operationId": "logout",
        "summary": "Ends a user session (Logout)",
        "x-internal": true
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SessionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a session object.",
            "schema": {
              "$ref": "#/definitions/Session"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if the credentials provided were not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "security": [],
        "tags": [
          "Sessions"
        ],
        "description": "Authenticate a user using an email address and password.\n",
        "operationId": "login",
        "summary": "Create a user session (Logout)",
        "x-internal": true
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a session object.",
            "schema": {
              "$ref": "#/definitions/Session"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if the refresh token provided was not valid.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Re-authenticate a user using a refresh token.\n",
        "operationId": "refresh-session",
        "summary": "Renew a user session",
        "x-internal": true
      }
    },
    "/buyers": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filters the results to only the items for which the `external_identifier`\nmatches this value.",
            "in": "query",
            "name": "external_identifier",
            "type": "string"
          },
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of buyers.",
            "schema": {
              "$ref": "#/definitions/Buyers"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Buyers"
        ],
        "description": "Returns a list of buyers.",
        "operationId": "list-buyers",
        "summary": "List buyers"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BuyerRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the buyer that was added.",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "409": {
            "description": "Returns an error if duplicate resource has been found.",
            "schema": {
              "$ref": "#/definitions/Error409DuplicateRecord"
            }
          }
        },
        "tags": [
          "Buyers"
        ],
        "description": "Adds a buyer, allowing for payment methods and transactions to be associated\nto this buyer.\n",
        "operationId": "add-buyer",
        "summary": "New buyer"
      }
    },
    "/buyers/{buyer_id}": {
      "parameters": [
        {
          "description": "The unique ID for a buyer.",
          "format": "uuid",
          "in": "path",
          "name": "buyer_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Returns an empty response."
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Buyers"
        ],
        "description": "Deletes a buyer record. Any associated tokenized payment methods will remain\nin the system but no longer associated to the buyer.",
        "operationId": "delete-buyer",
        "summary": "Delete buyer"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the information about a buyer.",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          },
          "default": {
            "description": "Returns a generic error.",
            "schema": {
              "$ref": "#/definitions/ErrorGeneric"
            }
          }
        },
        "tags": [
          "Buyers"
        ],
        "description": "Gets the information about a buyer.",
        "operationId": "get-buyer",
        "summary": "Get buyer"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BuyerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated buyer record.",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Buyers"
        ],
        "description": "Updates a buyer's details.\n",
        "operationId": "update-buyer",
        "summary": "Update buyer"
      }
    },
    "/card-rules": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a list of card rules.",
            "schema": {
              "$ref": "#/definitions/CardRules"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Card Rules"
        ],
        "description": "Returns a list of rules for card transactions.",
        "operationId": "list-cards-rules",
        "summary": "List card rules",
        "x-internal": true
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CardRuleRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the newly created rule.",
            "schema": {
              "$ref": "#/definitions/CardRule"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Card Rules"
        ],
        "description": "Creates a new rule that is used for card transactions.",
        "operationId": "add-card-rule",
        "summary": "Create card rule",
        "x-internal": true
      }
    },
    "/card-rules/{card_rule_id}": {
      "parameters": [
        {
          "description": "The unique ID for a card rule.",
          "format": "uuid",
          "in": "path",
          "name": "card_rule_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Returns an empty response."
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "403": {
            "description": "Returns an error if the rule could not be deleted.",
            "schema": {
              "$ref": "#/definitions/ErrorGeneric"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Card Rules"
        ],
        "description": "Deletes a specific card rule.",
        "operationId": "delete-card-rule",
        "summary": "Delete card rule",
        "x-internal": true
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a card rule.",
            "schema": {
              "$ref": "#/definitions/CardRule"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Card Rules"
        ],
        "description": "Returns a rule that can be used for card transactions.",
        "operationId": "get-card-rule",
        "summary": "Get card rule",
        "x-internal": true
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CardRuleUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated card rule.",
            "schema": {
              "$ref": "#/definitions/CardRule"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Card Rules"
        ],
        "description": "Updates a rule that can be used for card transactions.",
        "operationId": "update-card-rule",
        "summary": "Update card rule",
        "x-internal": true
      }
    },
    "/merchants/main": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the information about the merchant.",
            "schema": {
              "$ref": "#/definitions/Merchant"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Merchants"
        ],
        "description": "Gets the information about the current merchant account.",
        "operationId": "get-current-merchant",
        "summary": "Get current merchant details",
        "x-internal": true
      }
    },
    "/payment-methods": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "full",
            "description": "Determines the format of the payment method returned. Currently we have 2\navailable formats:\n\n* `full` - Returns the default full format of a resource.\n* `token` - Returns only the payment method's token and details. This is used\n   by Gr4vy Embed to render available payment options.",
            "enum": [
              "full",
              "token"
            ],
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "description": "Filters the results to only the items for which the `buyer` has an\n`id` that matches this value.",
            "in": "query",
            "name": "buyer_id",
            "type": "string"
          },
          {
            "description": "Filters the results to only the items for which the `buyer` has an\n`external_identifier` that matches this value.",
            "in": "query",
            "name": "buyer_external_identifier",
            "type": "string"
          },
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of payment methods.",
            "schema": {
              "$ref": "#/definitions/PaymentMethods"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "description": "Returns a list of stored (tokenized) payment methods.",
        "operationId": "list-payment-methods",
        "summary": "List payment methods"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CardRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the created payment method.",
            "schema": {
              "$ref": "#/definitions/Card"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "description": "Stores and tokenizes a new payment method.",
        "operationId": "store-payment-method",
        "summary": "New payment method"
      }
    },
    "/payment-methods/{payment_method_id}": {
      "parameters": [
        {
          "description": "The ID of the payment method.",
          "format": "uuid",
          "in": "path",
          "name": "payment_method_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Returns an empty response."
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "description": "Removes a stored payment method.",
        "operationId": "delete-payment-method",
        "summary": "Delete payment method"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a payment method.",
            "schema": {
              "x-model-name": "PaymentMethod"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Methods"
        ],
        "description": "Gets the details for a stored payment method.",
        "operationId": "get-payment-method",
        "summary": "Get stored payment method"
      }
    },
    "/payment-options": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filters the results to only the items which support this country code. A\ncountry is formatted as 2-letter ISO country code.",
            "in": "query",
            "name": "country",
            "type": "string"
          },
          {
            "description": "Filters the results to only the items which support this currency code. A\ncurrency is formatted as 3-letter ISO currency code.",
            "in": "query",
            "name": "currency",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of available payment options for the given currency and\ncountry code.",
            "schema": {
              "$ref": "#/definitions/PaymentOptions"
            }
          },
          "400": {
            "description": "Returns an error if  any of the query parameters are not recognised.",
            "schema": {
              "$ref": "#/definitions/Error400BadRequest"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Options"
        ],
        "description": "Returns a list of available payment method options for a currency\nand country.",
        "operationId": "list-payment-options",
        "summary": "List payment options"
      }
    },
    "/payment-service-definitions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of payment service definitions.",
            "schema": {
              "$ref": "#/definitions/PaymentServiceDefinitions"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Service Definitions"
        ],
        "description": "Returns a list of all available payment service definitions.",
        "operationId": "list-payment-service-definitions",
        "summary": "List payment service definitions",
        "x-internal": true
      }
    },
    "/payment-service-definitions/{payment_service_definition_id}": {
      "parameters": [
        {
          "description": "The unique ID of the payment service definition.",
          "in": "path",
          "name": "payment_service_definition_id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a payment service definition.",
            "schema": {
              "$ref": "#/definitions/PaymentServiceDefinition"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Service Definitions"
        ],
        "description": "Gets the definition for a payment service.",
        "operationId": "get-payment-service-definition",
        "summary": "Get payment service definition",
        "x-internal": true
      }
    },
    "/payment-services": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          },
          {
            "description": "Filters the results to only the items for which the `method` has been set to\nthis value.",
            "enum": [
              "card",
              "paypal"
            ],
            "in": "query",
            "name": "method",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of payment services.",
            "schema": {
              "$ref": "#/definitions/PaymentServices"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Lists the currently configured and activated payment services for a for a cluster.",
        "operationId": "list-payment-services",
        "summary": "List payment services"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PaymentServiceRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the created payment service.",
            "schema": {
              "$ref": "#/definitions/PaymentService"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Adds a new payment service by providing a custom name and a value for each of the required fields.",
        "operationId": "add-payment-service",
        "summary": "New payment service"
      }
    },
    "/payment-services/{payment_service_id}": {
      "parameters": [
        {
          "description": "The ID of the payment service.",
          "in": "path",
          "name": "payment_service_id",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Returns an empty response."
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Deletes a specific active payment service.",
        "operationId": "delete-payment-service",
        "summary": "Delete payment service"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a payment service.",
            "schema": {
              "$ref": "#/definitions/PaymentService"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Retrieves the details of a single configured payment service.",
        "operationId": "get-payment-service",
        "summary": "Get payment service"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PaymentServiceUpdate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the updated payment service.",
            "schema": {
              "$ref": "#/definitions/PaymentService"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "tags": [
          "Payment Services"
        ],
        "description": "Updates an existing payment service. Allows all fields to be changed except for the service ID.",
        "operationId": "update-payment-service",
        "summary": "Update payment service"
      }
    },
    "/transactions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filters the results to only the items for which the `id` or\n`external_identifier` matches this value.",
            "in": "query",
            "name": "search",
            "type": "string"
          },
          {
            "description": "Filters the results to only the transactions for which the `status`\nmatches this value.",
            "enum": [
              "processing",
              "processing_failed",
              "captured",
              "capture_pending",
              "capture_declined",
              "authorized",
              "authorization_pending",
              "authorization_declined",
              "authorization_expired",
              "authorization_voided",
              "refunded",
              "buyer_approval_pending",
              "buyer_approval_declined",
              "buyer_approval_timedout"
            ],
            "in": "query",
            "name": "transaction_status",
            "type": "string"
          },
          {
            "description": "Filters the results to only transactions created before this ISO date-time string.",
            "in": "query",
            "name": "before_created_at",
            "type": "string"
          },
          {
            "description": "Filters the results to only transactions created after this ISO date-time string.",
            "in": "query",
            "name": "after_created_at",
            "type": "string"
          },
          {
            "description": "Filters the results to only transactions last updated before this ISO\ndate-time string.",
            "in": "query",
            "name": "before_updated_at",
            "type": "string"
          },
          {
            "description": "Filters the results to only transactions last updated after this ISO\ndate-time string.",
            "in": "query",
            "name": "after_updated_at",
            "type": "string"
          },
          {
            "default": 20,
            "description": "Defines the maximum number of items to return for this request.",
            "format": "int32",
            "in": "query",
            "maximum": 500,
            "minimum": 1,
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "A cursor that identifies the page of results to return. This is used to\npaginate the results of this API.\n\nFor the first page of results, this parameter can be left out.\nFor additional pages, use the value returned by the API in\nthe `next_cursor` field. Similarly the `previous_cursor` can be used to\nreverse backwards in the list.",
            "format": "",
            "in": "query",
            "name": "cursor",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paginated list of transactions for an account.",
            "schema": {
              "$ref": "#/definitions/Transactions"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Lists all transactions for an account. Sorted by last `updated_at` status.",
        "operationId": "list-transactions",
        "summary": "List transactions"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TransactionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the created transaction.",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Attempts to create an authorization for a payment method. In some cases it is\nnot possible to create the authorization without redirecting the user for\ntheir authorization. In these cases the status is set to\n`buyer_approval_pending` and an `approval_url` is returned.\n\nAdditionally, this endpoint accepts a few additional fields that allow for\nsimultaneous capturing and storage of the payment method.\n\n* `store` - Use this field to store the payment method for\nfuture use. Not all payment methods support this feature.\n* `capture` - Use this method to also perform a capture of the transaction\nafter it has been authorized.\n",
        "operationId": "authorize-new-transaction",
        "summary": "New transaction"
      }
    },
    "/transactions/approvals/{transaction_approval_token}": {
      "parameters": [
        {
          "description": "The token used to redirect the buyer for approval of a transaction. This token\ndoes not represent anything to the consumer and no value should be derived\nfrom it except for internal use.",
          "in": "path",
          "name": "transaction_approval_token",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "302": {
            "description": "Redirect the buyer to approve this transaction.",
            "headers": {
              "location": {
                "description": "The URL to redirect the browser to. This is the approval URL for an\nalternative payment method like PayPal.",
                "format": "url",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "security": [],
        "tags": [
          "Transactions"
        ],
        "description": "Redirect a buyer to an alternative payment provider to approve their\ntransaction. This is mainly used with providers like PayPal and Klarna to\nredirect a buyer to their sites.",
        "operationId": "redirect-transaction-approval",
        "summary": "Approve payment method",
        "x-internal": true
      }
    },
    "/transactions/{transaction_id}": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a transaction resource.",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found or has not yet been created.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Get information about a transaction.",
        "operationId": "get-transaction",
        "summary": "Get transaction"
      }
    },
    "/transactions/{transaction_id}/approve": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "302": {
            "description": "Redirects the browser back to the `redirect_url` specified\nwhen the transaction was first created. It appends the transaction's\nID and status.",
            "headers": {
              "location": {
                "description": "The URL to redirect the browser to. This is the `redirect_url`\nspecified when the transaction was first created with some\nadditional query parameters appended.\n\n* `transaction_id` - The ID of the transaction\n* `transaction_status` - The current value of the\n  `status`  field of the transaction.",
                "format": "url",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found.",
            "schema": {
              "$ref": "#/definitions/Error404NotFound"
            }
          }
        },
        "security": [],
        "tags": [
          "Transactions"
        ],
        "description": "Internal API used as a redirect endpoint for transactions that require\nbuyer authorization.\n\nFor example, when a buyer tries to create a PayPal transaction, the buyer\nneeds to be sent to PayPal, after which they are sent back to this endpoint\nupon completion.\n\nThis API applies any required updates for the transaction based on its\nquery parameters and then redirects the browser back to the `redirect_url`\nspecified when the payment method was first created.",
        "operationId": "approve-transaction",
        "summary": "Buyer approval callback",
        "x-internal": true
      }
    },
    "/transactions/{transaction_id}/authorize": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the authorized transaction.",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found or has not yet been created.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Authorize a previously approved transaction.",
        "operationId": "authorize-transaction",
        "summary": "Authorize approved transaction"
      }
    },
    "/transactions/{transaction_id}/capture": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TransactionCaptureRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the captured transaction.",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "400": {
            "description": "Returns an error if the request was badly formatted or missing required fields.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found or has not yet been created.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Captures a previously authorized transaction.",
        "operationId": "capture-transaction",
        "summary": "Capture transaction"
      }
    },
    "/transactions/{transaction_id}/refund": {
      "parameters": [
        {
          "description": "The ID for the transaction to get the information for.",
          "in": "path",
          "name": "transaction_id",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns cancelled transaction.",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          },
          "404": {
            "description": "Returns an error if the resource can not be found or has not yet been created.",
            "schema": {
              "x-model-name": "ErrorGeneric"
            }
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Refunds or voids transaction. If this transaction was already captured, it\nwill issue a refund. If the transaction was not yet captured the authorization\nwill instead be voided.",
        "operationId": "refund-transaction",
        "summary": "Refund or void transaction"
      }
    },
    "/users/me": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the currently authenticated user.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "401": {
            "description": "Returns an error if no valid authentication was provided.",
            "schema": {
              "$ref": "#/definitions/Error401Unauthorized"
            }
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Get current user information.",
        "operationId": "get-current-user",
        "summary": "Get current",
        "x-internal": true
      }
    }
  },
  "definitions": {
    "APIKeyPair": {
      "description": "Details about an API key pair.",
      "properties": {
        "created_at": {
          "description": "The date and time when this key pair was created.",
          "example": "2012-12-12T10:53:43+00:00",
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "description": "A unique ID for this key-pair.",
          "example": "86473d2b-e385-4d5a-85e3-36964c5ed41c",
          "format": "uuid",
          "type": "string"
        },
        "private_key": {
          "description": "The private key for the key-pair. This is only returned after\nthe key is initially requested. For subsequent API calls this value is\n`null`.",
          "example": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----",
          "type": "string",
          "x-nullable": true
        },
        "type": {
          "description": "`api-key-pair`.",
          "enum": [
            "api-key-pair"
          ],
          "example": "api-key-pair",
          "type": "string"
        },
        "updated_at": {
          "description": "The date and time when this key pair was last updated.",
          "example": "2012-12-12T10:53:43+00:00",
          "format": "date-time",
          "type": "string"
        }
      },
      "title": "API Key Pair",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "API Key Pairs"
      ]
    },
    "APIKeyPairs": {
      "description": "A list of the currently active API key pairs.",
      "properties": {
        "items": {
          "items": {
            "$ref": "#/definitions/APIKeyPair"
          },
          "type": "array"
        },
        "limit": {
          "default": 20,
          "description": "The limit applied to request. This represents the number of items that are at\nmaximum returned by this request.",
          "example": 1,
          "format": "int32",
          "maximum": 100,
          "minimum": 1,
          "type": "integer"
        },
        "next_cursor": {
          "description": "The cursor that represents the next page of results. Use the `cursor` query\nparameter to fetch this page of items.",
          "example": "ZXhhbXBsZTE",
          "maxLength": 1000,
          "minLength": 1,
          "type": "string",
          "x-nullable": true
        },
        "previous_cursor": {
          "description": "The cursor that represents the next page of results. Use the `cursor` query\nparameter to fetch this page of items.",
          "example": null,
          "maxLength": 1000,
          "minLength": 1,
          "type": "string",
          "x-nullable": true
        }
      },
      "title": "A list of active API key pairs",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "API Key Pairs"
      ]
    },
    "Buyer": {
      "properties": {
        "created_at": {
          "description": "The date and time\nwhen this buyer was created in our system.",
          "example": "2013-07-16T19:23:00.000+00:00",
          "format": "date-time",
          "type": "string"
        },
        "display_name": {
          "description": "A unique name for this buyer which is used in the Gr4vy admin panel to give a buyer a human readable name.",
          "example": "John L.",
          "maxLength": 200,
          "minLength": 1,
          "type": "string",
          "x-nullable": true
        },
        "external_identifier": {
          "description": "An external identifier that can be used to match the buyer against your own records.",
          "example": "user-789123",
          "maxLength": 200,
          "minLength": 1,
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "description": "The unique Gr4vy ID for this buyer.",
          "example": "fe26475d-ec3e-4884-9553-f7356683f7f9",
          "format": "uuid",
          "type": "string"
        },
        "type": {
          "description": "The type of this resource. Is always `buyer`.",
          "enum": [
            "buyer"
          ],
          "example": "buyer",
          "type": "string"
        },
        "updated_at": {
          "description": "The date and time\nwhen this buyer was last updated in our system.",
          "example": "2013-07-16T19:23:00.000+00:00",
          "format": "date-time",
          "type": "string"
        }
      },
      "title": "Buyer",
      "type": "object",
      "x-tags": [
        "Buyers"
      ]
    },
    "BuyerRequest": {
      "description": "A request to create a buyer.",
      "properties": {
        "display_name": {
          "description": "A unique name for this buyer which is used in the Gr4vy admin panel to give a buyer a human readable name.",
          "example": "John L.",
          "maxLength": 200,
          "minLength": 1,
          "type": "string",
          "x-nullable": true
        },
        "external_identifier": {
          "description": "An external identifier that can be used to match the buyer against your own records. This value needs to be unique for all buyers.",
          "example": "user-789123",
          "maxLength": 200,
          "minLength": 1,
          "type": "string",
          "x-nullable": true
        }
      },
      "title": "Buyer (Create)",
      "type": "object",
      "x-tags": [
        "Buyers"
      ]
    },
    "BuyerUpdate": {
      "allOf": [
        {
          "$ref": "#/definitions/BuyerRequest"
        }
      ],
      "description": "A request to update a buyer.",
      "title": "Buyer (Update)",
      "type": "object",
      "x-tags": [
        "Buyers"
      ]
    },
    "Buyers": {
      "description": "A list of buyers.",
      "properties": {
        "items": {
          "description": "A list of buyers.",
          "items": {
            "$ref": "#/definitions/Buyer"
          },
          "type": "array"
        },
        "limit": {
          "default": 20,
          "description": "The limit applied to request. This represents the number of items that are at\nmaximum returned by this request.",
          "example": 1,
          "format": "int32",
          "maximum": 100,
          "minimum": 1,
          "type": "integer"
        },
        "next_cursor": {
          "description": "The cursor that represents the next page of results. Use the `cursor` query\nparameter to fetch this page of items.",
          "example": "ZXhhbXBsZTE",
          "maxLength": 1000,
          "minLength": 1,
          "type": "string",
          "x-nullable": true
        },
        "previous_cursor": {
          "description": "The cursor that represents the next page of results. Use the `cursor` query\nparameter to fetch this page of items.",
          "example": null,
          "maxLength": 1000,
          "minLength": 1,
          "type": "string",
          "x-nullable": true
        }
      },
      "title": "Buyers",
      "type": "object",
      "x-tags": [
        "Buyers"
      ]
    },
    "Card": {
      "description": "A stored card.",
      "properties": {
        "buyer": {
          "allOf": [
            {
              "$ref": "#/definitions/Buyer"
            }
          ],
          "description": "The optional buyer for which this payment method has been stored.",
          "x-nullable": true
        },
        "created_at": {
          "description": "The date and time when this payment method was first created in our\nsystem.",
          "example": "2013-07-16T19:23:00.000+00:00",
          "format": "date-time",
          "type": "string"
        },
        "details": {
          "$ref": "#/definitions/CardDetails"
        },
        "external_identifier": {
          "description": "An external identifier that can be used to match the payment method\nagainst your own records.",
          "example": "user-789123",
          "type": "string",
          "x-nullable": true
        },
        "id": {
          "description": "The unique ID of the payment method.",
          "example": "77a76f7e-d2de-4bbc-ada9-d6a0015e6bd5",
          "format": "uuid",
          "type": "string"
        },
        "method": {
          "description": "`card`.",
          "enum": [
            "card"
          ],
          "example": "card",
          "type": "string"
        },
        "status": {
          "description": "The state of the card tokenization.",
          "enum": [
            "processing",
            "processing_failed",
            "stored",
            "used"
          ],
          "example": "stored",
          "type": "string"
        },
        "token": {
          "description": "A Gr4vy token that represents this payment method, in the format of a\ncredit-card number starting with the digit 0. You can store this token\nin your own system and use it to process a payment with this payment\nmethod at a later date.",
          "example": "0123456789123458",
          "type": "string",
          "x-nullable": true
        },
        "type": {
          "description": "`payment-method`.",
          "enum": [
            "payment-method"
          ],
          "example": "payment-method",
          "type": "string"
        },
        "updated_at": {
          "description": "The date and time when this payment method was last updated in our system.",
          "example": "2013-07-16T19:23:00.000+00:00",
          "format": "date-time",
          "type": "string"
        }
      },
      "title": "Card",
      "type": "object",
      "x-tags": [
        "Payment Methods"
      ]
    },
    "Card--Token": {
      "description": "A mini format version of the card.",
      "properties": {
        "details": {
          "$ref": "#/definitions/CardDetails"
        },
        "method": {
          "description": "`card`.",
          "enum": [
            "card"
          ],
          "example": "card",
          "type": "string"
        },
        "token": {
          "description": "A Gr4vy token that represents this payment method, in the format of a\ncredit-card number starting with the digit 0. You can store this token\nin your own system and use it to process a payment with this payment\nmethod at a later date.",
          "example": "0123456789123458",
          "type": "string",
          "x-nullable": true
        },
        "type": {
          "description": "`payment-method`.",
          "enum": [
            "payment-method"
          ],
          "example": "payment-method",
          "type": "string"
        }
      },
      "title": "Card (Token)",
      "type": "object",
      "x-tags": [
        "Payment Methods"
      ]
    },
    "CardDetails": {
      "description": "Additional details about a stored card.",
      "properties": {
        "expiration_date": {
          "description": "The expiration date for a card.",
          "example": "11 / 21",
          "type": "string"
        },
        "number": {
          "description": "Partial number details for a stored card, hiding all but the last few\nnumbers.",
          "example": "XXXX XXXX XXXX 1111",
          "type": "string"
        },
        "scheme": {
          "description": "The type of the card.",
          "enum": [
            "visa",
            "mastercard",
            "american-express",
            "diners-club",
            "discover",
            "jcb",
            "unionpay",
            "maestro",
            "elo",
            "mir",
            "hiper",
            "hipercard"
          ],
          "example": "visa",
          "type": "string"
        }
      },
      "title": "Card details",
      "type": "object",
      "x-tags": [
        "Payment Methods"
      ]
    },
    "CardRequest": {
      "description": "Card details to use in a transaction or to register a new payment method.",
      "properties": {
        "buyer_external_identifier": {
          "description": "The `external_identifier` of the buyer to associate this payment method\nto. If this field is provided then the `buyer_id` field\nneeds to be unset.",
          "example": "user-789123",
          "type": "string"
        },
        "buyer_id": {
          "description": "The ID of the buyer to associate this payment method to. If this field is\nprovided then the `buyer_external_identifier` field needs to be unset.",
          "example": "fe26475d-ec3e-4884-9553-f7356683f7f9",
          "format": "uuid",
          "type": "string"
        },
        "expiration_date": {
          "description": "The expiration date of the card, formatted `MM/YY`. If a card has been\npreviously stored with us this value is optional.\n\nIf the `number` of this card represents a tokenized card, then this value\nis ignored.",
          "example": "11/15",
          "maxLength": 5,
          "minLength": 5,
          "pattern": "^\\d\\d/\\d\\d$",
          "type": "string"
        },
        "external_identifier": {
          "description": "An external identifier that can be used to match the card against your own records.",
          "example": "user-789123",
          "type": "string",
          "x-nullable": true
        },
        "method": {
          "description": "`card`.",
          "enum": [
            "card"
          ],
          "example": "card",
          "type": "string"
        },
        "number": {
          "description": "The 15-16 digit number for this credit card as it can be found on the\nfront of the card.\n\nIf a card has been stored with us previously, this number will represent\nthe unique tokenized card ID provided via our API.",
          "example": "4111111111111111",
          "maxLength": 16,
          "minLength": 14,
          "pattern": "^[0-9]{14,16}$",
          "type": "string"
        },
        "security_code": {
          "description": "The 3 or 4 digit security code often found on the card. This often\nreferred to as the CVV or CVD.\n\nIf the `number` of this card represents a tokenized card, then this value\nis ignored.",
          "example": "123",
          "maxLength": 4,
          "minLength": 3,
          "pattern": "^\\d{3,4}$",
          "type": "string"
        }
      },
      "required": [
        "method",
        "number",
        "expiration_date",
        "security_code"
      ],
      "title": "Card",
      "type": "object",
      "x-tags": [
        "Request Bodies"
      ]
    },
    "CardRule": {
      "description": "A card rule that defines a custom payment provider to use for a card\ntransaction. Multiple rules can exists at any time and they are processed by\npriority.",
      "properties": {
        "active": {
          "description": "Whether this rule is currently in use. Rules can be deactivated to allow\nfor them to be kept around and re-activated at a later date.",
          "example": true,
          "type": "boolean"
        },
        "conditions": {
          "description": "One or more conditions that apply for this rule. Each condition\nneeds to match for this rule to go into effect.",
          "items": {
            "x-model-name": "CardRule"
          },
          "minItems": 1,
          "type": "array"
        },
        "created_at": {
          "description": "The date and time when this rule was created.",
          "example": "2012-12-12T10:53:43+00:00",
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "description": "The ID of the rule.",
          "example": "8d3fe99b-1422-42e6-bbb3-932d95ae5f79",
          "format": "uuid",
          "type": "string"
        },
        "invalid_rule_fallback_strategy": {
          "default": "use_all_providers",
          "description": "Defines what strategy to use when this rule is not valid. This can happen\nwhen the rule has triggered for a certain transaction but none of the\nlisted payment services are eligible to process that transaction currency.\n\n* `use_all_providers` - Try all payment services enabled for this currency in\norder of priority, even if they are not listed in this rule. This is the\ndefault behaviour for a rule.\n* `skip` - Skip this rule and instead move on to the next highest priority\nrule.\n* `decline` - Decline the transaction.",
          "enum": [
            "use_all_providers",
            "skip",
            "decline"
          ],
          "example": "use_all_providers",
          "type": "string"
        },
        "payment_service_ids": {
          "description": "A list of IDs for the payment services to use, in order of priority.\nThe payment services all need to process cards.",
          "example": [
            "stripe-card-f47db210-8e30-4f74-8123-b834604f2042",
            "card-braintree-0bb93ab0-86ef-4ad5-addf-b69913128d96"
          ],
          "items": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string"
          },
          "type": "array"
        },
        "position": {
          "description": "The numeric rank of a rule. Rules with a lower position value\nare processed first.",
          "example": 1,
          "type": "number"
        },
        "type": {
          "description": "`card-rule`.",
          "enum": [
            "card-rule"
          ],
          "example": "card-rule",
          "type": "string"
        },
        "unprocessable_fallback_strategy": {
          "default": "use_all_providers",
          "description": "Defines what strategy to use when all of the payment services defined in\nthis rule declined or otherwise were not able to process the card.\n\n* `use_all_providers` - Try all payment services enabled for this currency in\norder of priority, even if they are not listed in this rule. This is the\ndefault behaviour for a rule.\n* `decline` - Decline the transaction.",
          "enum": [
            "use_all_providers",
            "decline"
          ],
          "example": "use_all_providers",
          "type": "string"
        },
        "updated_at": {
          "description": "The date and time when this rule was last updated.",
          "example": "2012-12-12T10:53:43+00:00",
          "format": "date-time",
          "type": "string"
        }
      },
      "title": "Card Rule",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rules"
      ]
    },
    "CardRuleNumberCondition": {
      "description": "Part of a rule that matches numeric fields. It defines the condition under\nwhich this rule applies.",
      "properties": {
        "key": {
          "description": "The transaction field to filter by.",
          "enum": [
            "amount"
          ],
          "example": "amount",
          "type": "string"
        },
        "match": {
          "description": "`number`.",
          "enum": [
            "number"
          ],
          "example": "number",
          "type": "string"
        },
        "operator": {
          "description": "The comparison to make to `value` property.",
          "enum": [
            "==",
            "!=",
            "<=",
            ">=",
            ">",
            "<"
          ],
          "example": ">=",
          "type": "string"
        },
        "value": {
          "description": "The values to compare the `key` to.",
          "example": 200,
          "maximum": 99999,
          "minimum": 0,
          "type": "number"
        }
      },
      "required": [
        "match",
        "key",
        "operator",
        "value"
      ],
      "title": "Card rule (Number condition)",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Workflows"
      ]
    },
    "CardRuleRequest": {
      "description": "Creates a new rule for a card transactions.",
      "properties": {
        "active": {
          "description": "Whether this rule is currently in use. Rules can be deactivated to allow\nfor them to be kept around and re-activated at a later date.",
          "example": true,
          "type": "boolean"
        },
        "conditions": {
          "description": "One or more conditions that apply for this rule. Each condition\nneeds to match for this rule to go into effect.",
          "items": {
            "x-model-name": "CardRule"
          },
          "minItems": 1,
          "type": "array"
        },
        "invalid_rule_fallback_strategy": {
          "default": "use_all_providers",
          "description": "Defines what strategy to use when this rule is not valid. This can happen\nwhen the rule has triggered for a certain transaction but none of the\nlisted payment services are eligible to process that transaction currency.\n\n* `use_all_providers` - Try all payment services enabled for this currency in\norder of priority, even if they are not listed in this rule. This is the\ndefault behaviour for a rule.\n* `skip` - Skip this rule and instead move on to the next highest priority\nrule.\n* `decline` - Decline the transaction.",
          "enum": [
            "use_all_providers",
            "skip",
            "decline"
          ],
          "example": "use_all_providers",
          "type": "string"
        },
        "payment_service_ids": {
          "description": "A list of IDs for the payment services to use, in order of priority.\nThe payment services all need to process cards.",
          "example": [
            "stripe-card-f47db210-8e30-4f74-8123-b834604f2042",
            "card-braintree-0bb93ab0-86ef-4ad5-addf-b69913128d96"
          ],
          "items": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string"
          },
          "type": "array"
        },
        "position": {
          "description": "The numeric rank of a rule. Rules with a lower position value\nare processed first. When a rule is inserted at a position, any rules with\nthe the same value or higher are down a position accordingly. When left\nout, the rule is inserted at the end of the list.",
          "example": 1,
          "type": "number"
        },
        "unprocessable_fallback_strategy": {
          "default": "use_all_providers",
          "description": "Defines what strategy to use when all of the payment services defined in\nthis rule declined or otherwise were not able to process the card.\n\n* `use_all_providers` - Try all payment services enabled for this currency in\norder of priority, even if they are not listed in this rule. This is the\ndefault behaviour for a rule.\n* `decline` - Decline the transaction.",
          "enum": [
            "use_all_providers",
            "decline"
          ],
          "example": "use_all_providers",
          "type": "string"
        }
      },
      "required": [
        "conditions",
        "payment_service_ids"
      ],
      "title": "Card Rule (Create)",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rules"
      ]
    },
    "CardRuleTextCondition": {
      "description": "Part of a rule that matches text fields. It defines the condition under\nwhich this rule applies.",
      "properties": {
        "key": {
          "description": "The transaction field to filter by.",
          "enum": [
            "currency",
            "card_type"
          ],
          "example": "currency",
          "type": "string"
        },
        "match": {
          "description": "`text`.",
          "enum": [
            "text"
          ],
          "example": "text",
          "type": "string"
        },
        "operator": {
          "description": "The comparison to make to `value` property.",
          "enum": [
            "IN",
            "NOT IN"
          ],
          "example": "IN",
          "type": "string"
        },
        "values": {
          "description": "The values to compare the `key` to.",
          "example": [
            "USD",
            "EUR"
          ],
          "items": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string"
          },
          "maxItems": 100,
          "minItems": 1,
          "type": "array"
        }
      },
      "required": [
        "match",
        "key",
        "operator",
        "values"
      ],
      "title": "Card rule (Text)",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rules"
      ]
    },
    "CardRuleUpdate": {
      "description": "Updates a rule for a card transactions.",
      "properties": {
        "active": {
          "description": "Whether this rule is currently in use. Rules can be deactivated to allow\nfor them to be kept around and re-activated at a later date.",
          "example": true,
          "type": "boolean"
        },
        "conditions": {
          "description": "One or more conditions that apply for this rule. Each condition\nneeds to match for this rule to go into effect.",
          "items": {
            "x-model-name": "CardRule"
          },
          "minItems": 1,
          "type": "array"
        },
        "invalid_rule_fallback_strategy": {
          "default": "use_all_providers",
          "description": "Defines what strategy to use when this rule is not valid. This can happen\nwhen the rule has triggered for a certain transaction but none of the\nlisted payment services are eligible to process that transaction currency.\n\n* `use_all_providers` - Try all payment services enabled for this currency in\norder of priority, even if they are not listed in this rule. This is the\ndefault behaviour for a rule.\n* `skip` - Skip this rule and instead move on to the next highest priority\nrule.\n* `decline` - Decline the transaction.",
          "enum": [
            "use_all_providers",
            "skip",
            "decline"
          ],
          "example": "use_all_providers",
          "type": "string"
        },
        "payment_service_ids": {
          "description": "A list of IDs for the payment services to use, in order of priority.\nThe payment services all need to process cards.",
          "example": [
            "stripe-card-f47db210-8e30-4f74-8123-b834604f2042",
            "card-braintree-0bb93ab0-86ef-4ad5-addf-b69913128d96"
          ],
          "items": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string"
          },
          "type": "array"
        },
        "position": {
          "description": "The numeric rank of a rule. Rules with a lower position value\nare processed first. When a rule is inserted at a position, any rules with\nthe the same value or higher are down a position accordingly.",
          "example": 1,
          "type": "number"
        },
        "unprocessable_fallback_strategy": {
          "default": "use_all_providers",
          "description": "Defines what strategy to use when all of the payment services defined in\nthis rule declined or otherwise were not able to process the card.\n\n* `use_all_providers` - Try all payment services enabled for this currency in\norder of priority, even if they are not listed in this rule. This is the\ndefault behaviour for a rule.\n* `decline` - Decline the transaction.",
          "enum": [
            "use_all_providers",
            "decline"
          ],
          "example": "use_all_providers",
          "type": "string"
        }
      },
      "title": "Card Rule (Update)",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rules"
      ]
    },
    "CardRules": {
      "description": "A list of card rules.",
      "properties": {
        "items": {
          "description": "A list of card rules.",
          "items": {
            "$ref": "#/definitions/CardRule"
          },
          "type": "array"
        }
      },
      "title": "Card Rules",
      "type": "object",
      "x-internal": true,
      "x-tags": [
        "Card Rules"
      ]
    },
    "Error400BadRequest": {
      "description": "Bad Request (HTTP 400).",
      "properties": {
        "code": {
          "description": "`bad_request`.",
          "enum": [
            "bad_request"
          ],
          "example": "bad_request",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "Describes the fields that are missing or incorrectly formatted in the API\nrequest.",
          "example": "Missing '****' field",
          "type": "string"
        },
        "status": {
          "description": "`400`.",
          "enum": [
            400
          ],
          "example": 400,
          "type": "integer"
        },
        "type": {
          "description": "`error`.",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Bad Request",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Error400IncorrectJson": {
      "description": "Incorrect JSON (HTTP 400).",
      "properties": {
        "code": {
          "description": "`incorrect_json`.",
          "enum": [
            "incorrect_json"
          ],
          "example": "incorrect_json",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "example": [],
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "Incorrect JSON. The request body could not be parsed as valid JSON.",
          "example": "Incorrect JSON. The request body could not be parsed as valid JSON.",
          "type": "string"
        },
        "status": {
          "description": "`400`.",
          "enum": [
            400
          ],
          "example": 400,
          "type": "integer"
        },
        "type": {
          "description": "`error`.",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Incorrect JSON",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Error401Unauthorized": {
      "description": "Unauthorized Error (HTTP 401).",
      "properties": {
        "code": {
          "description": "`unauthorized`.",
          "enum": [
            "unauthorized"
          ],
          "example": "unauthorized",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "example": [],
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "No valid API authentication found.",
          "enum": [
            "No valid API authentication found"
          ],
          "example": "No valid API authentication found",
          "type": "string"
        },
        "status": {
          "description": "`401`.",
          "enum": [
            401
          ],
          "example": 401,
          "type": "integer"
        },
        "type": {
          "description": "`error`.",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Unauthorized Error",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Error404NotFound": {
      "description": "Not Found Error (HTTP 404).",
      "properties": {
        "code": {
          "description": "`not_found`.",
          "enum": [
            "not_found"
          ],
          "example": "not_found",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "example": [],
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "The resource could not be found.",
          "enum": [
            "The resource could not be found"
          ],
          "example": "The resource could not be found",
          "type": "string"
        },
        "status": {
          "description": "`404`.",
          "enum": [
            404
          ],
          "example": 404,
          "type": "integer"
        },
        "type": {
          "description": "`error`.",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Not Found Error",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Error404PendingCreation": {
      "description": "Pending Creation Error (HTTP 404).",
      "properties": {
        "code": {
          "description": "`pending_creation`.",
          "enum": [
            "pending_creation"
          ],
          "example": "pending_creation",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "example": [],
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "The resource is still pending.",
          "enum": [
            "The resource is still pending"
          ],
          "example": "The resource is still pending",
          "type": "string"
        },
        "status": {
          "description": "`404`.",
          "enum": [
            404
          ],
          "example": 404,
          "type": "integer"
        },
        "type": {
          "description": "`error`.",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Pending Creation Error",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "Error409DuplicateRecord": {
      "description": "Duplicate Record Error (HTTP 409).",
      "properties": {
        "code": {
          "description": "`duplicate_record`.",
          "enum": [
            "duplicate_record"
          ],
          "example": "duplicate_record",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "example": [],
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
          "description": "Further details on the field that triggered the error.",
          "example": "A duplicate ecord exists with this external_identifier value",
          "type": "string"
        },
        "status": {
          "description": "`409`.",
          "enum": [
            409
          ],
          "example": 409,
          "type": "integer"
        },
        "type": {
          "description": "`error`.",
          "enum": [
            "error"
          ],
          "example": "error",
          "type": "string"
        }
      },
      "title": "Duplicate Record Error",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "ErrorDetail": {
      "description": "Additional detail about the part of a request body that caused an issue.",
      "properties": {
        "location": {
          "description": "The location where the error caused an issue.",
          "enum": [
            "query",
            "body",
            "path",
            "header"
          ],
          "example": "body",
          "type": "string"
        },
        "message": {
          "description": "A human readable message for this error detail.",
          "example": "field required",
          "type": "string"
        },
        "pointer": {
          "description": "The exact item for which the validation did not succeed. This is a JSON\npointer for request bodies, while for query, path, and header parameters\nit is the name of the parameter.",
          "example": "/payment_method/number",
          "type": "string"
        },
        "type": {
          "description": "A unique identifier for the type of error that occurred.",
          "example": "value_error.missing",
          "type": "string"
        }
      },
      "title": "Error details",
      "type": "object",
      "x-tags": [
        "Errors"
      ]
    },
    "ErrorGeneric": {
      "description": "A generic client error.",
      "properties": {
        "code": {
          "description": "A custom code to further describe the type of error being returned. This code provides further specification within the HTTP `status` code and can be used by a program to define logic based on the error.",
          "example": "incorrect_json",
          "type": "string"
        },
        "details": {
          "description": "A list of detail objects that further clarify the reason for the error.\nNot every error supports more detail.",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "message": {
[...]
